# Исследование объявлений о продаже квартир

### 0.1 Шаг 1. Откройте файл с данными и изучите общую информацию

In [1]:
import pandas as pd
from geopy.distance import geodesic as gd
from geopy.geocoders import Nominatim as nm
import time
data = pd.read_csv('real_estate_data.csv', sep='\t')

print('Информация о датафрейме:')
data.shape

Информация о датафрейме:

(23699, 22)

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB

In [3]:
display(data.head(30))

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.00,2019-03-07T00:00:00,3,2.70,16.0,51.00,8,NaN,...,25.00,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11.0,18.60,1,NaN,...,11.00,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.00,2015-08-20T00:00:00,2,NaN,5.0,34.30,4,NaN,...,8.30,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.00,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.00,2018-06-19T00:00:00,2,3.03,14.0,32.00,13,NaN,...,41.00,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12.0,14.40,5,NaN,...,9.10,NaN,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55.0
6,6,3700000.0,37.30,2017-11-02T00:00:00,1,NaN,26.0,10.60,6,NaN,...,14.40,1.0,посёлок Парголово,52996.0,19143.0,0.0,NaN,0.0,NaN,155.0
7,5,7915000.0,71.60,2019-04-18T00:00:00,2,NaN,24.0,NaN,22,NaN,...,18.90,2.0,Санкт-Петербург,23982.0,11634.0,0.0,NaN,0.0,NaN,NaN
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27.0,15.43,26,NaN,...,8.81,NaN,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189.0
9,18,5400000.0,61.00,2017-02-26T00:00:00,3,2.50,9.0,43.60,7,NaN,...,6.50,2.0,Санкт-Петербург,50898.0,15008.0,0.0,NaN,0.0,NaN,289.0
10,5,5050000.0,39.60,2017-11-16T00:00:00,1,2.67,12.0,20.30,3,NaN,...,8.50,NaN,Санкт-Петербург,38357.0,13878.0,1.0,310.0,2.0,553.0,137.0
11,9,3300000.0,44.00,2018-08-27T00:00:00,2,NaN,5.0,31.00,4,False,...,6.00,1.0,Ломоносов,48252.0,51677.0,0.0,NaN,0.0,NaN,7.0
12,10,3890000.0,54.00,2016-06-30T00:00:00,2,NaN,5.0,30.00,5,NaN,...,9.00,0.0,Сертолово,NaN,NaN,NaN,NaN,NaN,NaN,90.0
13,20,3550000.0,42.80,2017-07-01T00:00:00,2,2.56,5.0,27.00,5,NaN,...,5.20,1.0,Петергоф,37868.0,33058.0,1.0,294.0,3.0,298.0,366.0
14,1,4400000.0,36.00,2016-06-23T00:00:00,1,NaN,6.0,17.00,1,NaN,...,8.00,0.0,Пушкин,20782.0,30759.0,0.0,NaN,1.0,96.0,203.0
15,16,4650000.0,39.00,2017-11-18T00:00:00,1,NaN,14.0,20.50,5,NaN,...,7.60,1.0,Санкт-Петербург,12900.0,14259.0,1.0,590.0,1.0,296.0,19.0
16,11,6700000.0,82.00,2017-11-23T00:00:00,3,3.05,5.0,55.60,1,NaN,...,9.00,NaN,Санкт-Петербург,22108.0,10698.0,3.0,420.0,0.0,NaN,397.0
17,6,4180000.0,36.00,2016-09-09T00:00:00,1,NaN,17.0,16.50,7,NaN,...,11.00,1.0,Санкт-Петербург,33564.0,14616.0,0.0,NaN,1.0,859.0,571.0
18,8,3250000.0,31.00,2017-01-27T00:00:00,1,2.50,5.0,19.40,2,NaN,...,5.60,1.0,Санкт-Петербург,44060.0,10842.0,1.0,759.0,0.0,NaN,168.0
19,16,14200000.0,121.00,2019-01-09T00:00:00,3,2.75,16.0,76.00,8,NaN,...,12.00,NaN,Санкт-Петербург,38900.0,12843.0,0.0,NaN,0.0,NaN,97.0
20,12,6120000.0,80.00,2017-09-28T00:00:00,3,2.70,27.0,48.00,11,NaN,...,12.00,2.0,посёлок Парголово,53134.0,19311.0,0.0,NaN,0.0,NaN,74.0
21,13,3200000.0,31.60,2018-03-14T00:00:00,1,NaN,5.0,16.90,2,NaN,...,5.70,1.0,Санкт-Петербург,36064.0,9722.0,1.0,248.0,0.0,NaN,310.0
22,20,5000000.0,58.00,2017-04-24T00:00:00,2,2.75,25.0,30.00,15,NaN,...,11.00,2.0,деревня Кудрово,NaN,NaN,NaN,NaN,NaN,NaN,60.0
23,11,2950000.0,32.00,2016-10-29T00:00:00,1,2.60,9.0,17.70,9,NaN,...,6.10,NaN,Санкт-Петербург,15414.0,14211.0,2.0,517.0,1.0,190.0,615.0
24,8,6500000.0,97.20,2015-10-31T00:00:00,2,NaN,3.0,46.50,1,NaN,...,19.60,0.0,Санкт-Петербург,20052.0,2336.0,3.0,411.0,3.0,124.0,265.0
25,3,6800000.0,76.00,2015-10-01T00:00:00,2,2.75,23.0,39.00,18,False,...,15.00,2.0,Санкт-Петербург,34967.0,14640.0,0.0,NaN,1.0,564.0,300.0
26,6,4050000.0,60.00,2017-04-28T00:00:00,4,NaN,5.0,43.00,4,NaN,...,7.00,NaN,Санкт-Петербург,11580.0,10510.0,0.0,NaN,1.0,95.0,265.0
27,20,7100000.0,70.00,2017-05-12T00:00:00,3,2.60,17.0,49.00,11,NaN,...,9.20,0.0,Санкт-Петербург,29197.0,11456.0,2.0,452.0,1.0,779.0,151.0
28,8,4170000.0,44.00,2017-12-13T00:00:00,1,2.90,6.0,20.80,1,NaN,...,11.70,1.0,Пушкин,18557.0,30710.0,0.0,NaN,1.0,118.0,74.0
29,9,8600000.0,100.00,2016-04-09T00:00:00,3,NaN,19.0,52.00,15,False,...,11.00,0.0,Санкт-Петербург,30394.0,11526.0,1.0,532.0,1.0,896.0,125.0

In [4]:
data.columns

Index(['total_images', 'last_price', 'total_area', 'first_day_exposition',
       'rooms', 'ceiling_height', 'floors_total', 'living_area', 'floor',
       'is_apartment', 'studio', 'open_plan', 'kitchen_area', 'balcony',
       'locality_name', 'airports_nearest', 'cityCenters_nearest',
       'parks_around3000', 'parks_nearest', 'ponds_around3000',
       'ponds_nearest', 'days_exposition'],
      dtype='object')

In [5]:
data.columns[int(len(data.columns) / 2)]

'open_plan'

<div class="alert alert-info">
<b>Комментарий студента:</b>
<br>
Судя на третьей строчке проектной работы по установлению параметров и проведению предобработки и исследовательского анализа данных с архивными объявлениями о продаже квартир в г. Санкт-Петербург: мы обнаруживаем, что вместо представления данных в столбцах: 'studio' (наличие квартиры-студии) и 'open_plan' (наличие свободной планировки) обнаруживание пропуск данных в виде многоточия ('...') и неполную картину над параметрами всех объявлений о продаже квартир в г. Санкт-Петербург<br>
<br>
Поэтому разделим датафрейм data на две части с одинаковым количество строк, где первая часть заканчивается, а вторая часть начинается с одного и того же столбца, а именно с 'open_plan' (из пятой строки), чтобы не запутаться.<br>
<br>
Затем создадим два списка для разделенения всех названий столбцов в данной таблице (first_part и second_part) и цикл, по которому итерация помещает одно названия столбца в один список, а другое название - в другой список и выводим по частям два разделённых датафрейма: first_part_data и second_part_data для полного прочтения всех значений датафрейма data.<br>
<br>
Ещё в второй и четвёртой строчке данной проектной работы, обнаруживаем неэтическое для программистов название столбца: 'cityCenters_nearest', поэтому сразу меняем это название на 'city_сenters_nearest'.<br>
</div>

In [6]:
#data[['cityCenters_nearest']] = data[['city_centers_nearest']]

In [7]:
first_part = []
second_part = []

for i in range(len(data.columns)):
    if(i <= len(data.columns) / 2 - 1):
        first_part.append(data.columns[i])
    elif(i == len(data.columns) / 2):
        first_part.append(data.columns[i])
        second_part.append(data.columns[i])
    else:
        second_part.append(data.columns[i])

In [8]:
first_part_data = data.loc[:, first_part]
display(first_part_data.head(30))

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
0,20,13000000.0,108.00,2019-03-07T00:00:00,3,2.70,16.0,51.00,8,NaN,False,False
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11.0,18.60,1,NaN,False,False
2,10,5196000.0,56.00,2015-08-20T00:00:00,2,NaN,5.0,34.30,4,NaN,False,False
3,0,64900000.0,159.00,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,False,False
4,2,10000000.0,100.00,2018-06-19T00:00:00,2,3.03,14.0,32.00,13,NaN,False,False
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12.0,14.40,5,NaN,False,False
6,6,3700000.0,37.30,2017-11-02T00:00:00,1,NaN,26.0,10.60,6,NaN,False,False
7,5,7915000.0,71.60,2019-04-18T00:00:00,2,NaN,24.0,NaN,22,NaN,False,False
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27.0,15.43,26,NaN,False,False
9,18,5400000.0,61.00,2017-02-26T00:00:00,3,2.50,9.0,43.60,7,NaN,False,False
10,5,5050000.0,39.60,2017-11-16T00:00:00,1,2.67,12.0,20.30,3,NaN,False,False
11,9,3300000.0,44.00,2018-08-27T00:00:00,2,NaN,5.0,31.00,4,False,False,False
12,10,3890000.0,54.00,2016-06-30T00:00:00,2,NaN,5.0,30.00,5,NaN,False,False
13,20,3550000.0,42.80,2017-07-01T00:00:00,2,2.56,5.0,27.00,5,NaN,False,False
14,1,4400000.0,36.00,2016-06-23T00:00:00,1,NaN,6.0,17.00,1,NaN,False,False
15,16,4650000.0,39.00,2017-11-18T00:00:00,1,NaN,14.0,20.50,5,NaN,False,False
16,11,6700000.0,82.00,2017-11-23T00:00:00,3,3.05,5.0,55.60,1,NaN,False,False
17,6,4180000.0,36.00,2016-09-09T00:00:00,1,NaN,17.0,16.50,7,NaN,False,False
18,8,3250000.0,31.00,2017-01-27T00:00:00,1,2.50,5.0,19.40,2,NaN,False,False
19,16,14200000.0,121.00,2019-01-09T00:00:00,3,2.75,16.0,76.00,8,NaN,False,False
20,12,6120000.0,80.00,2017-09-28T00:00:00,3,2.70,27.0,48.00,11,NaN,False,False
21,13,3200000.0,31.60,2018-03-14T00:00:00,1,NaN,5.0,16.90,2,NaN,False,False
22,20,5000000.0,58.00,2017-04-24T00:00:00,2,2.75,25.0,30.00,15,NaN,False,False
23,11,2950000.0,32.00,2016-10-29T00:00:00,1,2.60,9.0,17.70,9,NaN,False,False
24,8,6500000.0,97.20,2015-10-31T00:00:00,2,NaN,3.0,46.50,1,NaN,False,False
25,3,6800000.0,76.00,2015-10-01T00:00:00,2,2.75,23.0,39.00,18,False,False,False
26,6,4050000.0,60.00,2017-04-28T00:00:00,4,NaN,5.0,43.00,4,NaN,False,False
27,20,7100000.0,70.00,2017-05-12T00:00:00,3,2.60,17.0,49.00,11,NaN,False,False
28,8,4170000.0,44.00,2017-12-13T00:00:00,1,2.90,6.0,20.80,1,NaN,False,False
29,9,8600000.0,100.00,2016-04-09T00:00:00,3,NaN,19.0,52.00,15,False,False,False

In [9]:
second_part_data = data.loc[:, second_part]
display(second_part_data.head(30))

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,False,25.00,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,False,11.00,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,False,8.30,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,False,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,False,41.00,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0
5,False,9.10,NaN,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55.0
6,False,14.40,1.0,посёлок Парголово,52996.0,19143.0,0.0,NaN,0.0,NaN,155.0
7,False,18.90,2.0,Санкт-Петербург,23982.0,11634.0,0.0,NaN,0.0,NaN,NaN
8,False,8.81,NaN,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189.0
9,False,6.50,2.0,Санкт-Петербург,50898.0,15008.0,0.0,NaN,0.0,NaN,289.0
10,False,8.50,NaN,Санкт-Петербург,38357.0,13878.0,1.0,310.0,2.0,553.0,137.0
11,False,6.00,1.0,Ломоносов,48252.0,51677.0,0.0,NaN,0.0,NaN,7.0
12,False,9.00,0.0,Сертолово,NaN,NaN,NaN,NaN,NaN,NaN,90.0
13,False,5.20,1.0,Петергоф,37868.0,33058.0,1.0,294.0,3.0,298.0,366.0
14,False,8.00,0.0,Пушкин,20782.0,30759.0,0.0,NaN,1.0,96.0,203.0
15,False,7.60,1.0,Санкт-Петербург,12900.0,14259.0,1.0,590.0,1.0,296.0,19.0
16,False,9.00,NaN,Санкт-Петербург,22108.0,10698.0,3.0,420.0,0.0,NaN,397.0
17,False,11.00,1.0,Санкт-Петербург,33564.0,14616.0,0.0,NaN,1.0,859.0,571.0
18,False,5.60,1.0,Санкт-Петербург,44060.0,10842.0,1.0,759.0,0.0,NaN,168.0
19,False,12.00,NaN,Санкт-Петербург,38900.0,12843.0,0.0,NaN,0.0,NaN,97.0
20,False,12.00,2.0,посёлок Парголово,53134.0,19311.0,0.0,NaN,0.0,NaN,74.0
21,False,5.70,1.0,Санкт-Петербург,36064.0,9722.0,1.0,248.0,0.0,NaN,310.0
22,False,11.00,2.0,деревня Кудрово,NaN,NaN,NaN,NaN,NaN,NaN,60.0
23,False,6.10,NaN,Санкт-Петербург,15414.0,14211.0,2.0,517.0,1.0,190.0,615.0
24,False,19.60,0.0,Санкт-Петербург,20052.0,2336.0,3.0,411.0,3.0,124.0,265.0
25,False,15.00,2.0,Санкт-Петербург,34967.0,14640.0,0.0,NaN,1.0,564.0,300.0
26,False,7.00,NaN,Санкт-Петербург,11580.0,10510.0,0.0,NaN,1.0,95.0,265.0
27,False,9.20,0.0,Санкт-Петербург,29197.0,11456.0,2.0,452.0,1.0,779.0,151.0
28,False,11.70,1.0,Пушкин,18557.0,30710.0,0.0,NaN,1.0,118.0,74.0
29,False,11.00,0.0,Санкт-Петербург,30394.0,11526.0,1.0,532.0,1.0,896.0,125.0

 ### 0.2 Шаг 2.1 Предобработка данных

<div class="alert alert-info">
<b>Комментарий студента:</b>
<br>
Судя на третьей строчке проектной работы по установлению параметров и проведению предобработки и исследовательского анализа данных с архивными объявлениями о продаже квартир в г. Санкт-Петербург: мы обнаруживаем, что вместо представления данных в столбцах: 'studio' (наличие квартиры-студии) и 'open_plan' (наличие свободной планировки) обнаруживание пропуск данных в виде многоточия ('...') и неполную картину над параметрами всех объявлений о продаже квартир в г. Санкт-Петербург<br>
<br>
Поэтому разделим датафрейм data на две части с одинаковым количество строк, где первая часть заканчивается, а вторая часть начинается с одного и того же столбца, а именно с 'open_plan' (из пятой строки).<br>
<br>
Затем создадим два списка для разделенения всех названий столбцов в данной таблице (first_part и second_part) и цикл, по которому итерация помещает одно названия столбца в один список, а другое название - в другой список и выводим по частям два разделённых датафрейма: first_part_data и second_part_data для полного прочтения всех значений датафрейма data.<br>
<br>
Ещё в второй и четвёртой строчке данной проектной работы, обнаруживаем неэтическое для программистов название столбца: 'cityCenters_nearest', поэтому сразу меняем это название на 'city_сenters_nearest'.<br>
</div>

In [10]:
data.isna().sum()

total_images                0
last_price                  0
total_area                  0
first_day_exposition        0
rooms                       0
ceiling_height           9195
floors_total               86
living_area              1903
floor                       0
is_apartment            20924
studio                      0
open_plan                   0
kitchen_area             2278
balcony                 11519
locality_name              49
airports_nearest         5542
cityCenters_nearest      5519
parks_around3000         5518
parks_nearest           15620
ponds_around3000         5518
ponds_nearest           14589
days_exposition          3181
dtype: int64

In [11]:
null_columns = []

for value in data.columns: 
    if data[value].count() != data.shape[0]:
        null_columns.append(value)
        
null_columns

['ceiling_height',
 'floors_total',
 'living_area',
 'is_apartment',
 'kitchen_area',
 'balcony',
 'locality_name',
 'airports_nearest',
 'cityCenters_nearest',
 'parks_around3000',
 'parks_nearest',
 'ponds_around3000',
 'ponds_nearest',
 'days_exposition']

In [12]:
for item in null_columns:
    print(f"\n Строки датафрейма, где у столбца '{item}' обнаружены пропущенные значения:")
    display(first_part_data[data[item].isna()].head())
    display(second_part_data[data[item].isna()].head())

 Строки датафрейма, где у столбца 'ceiling_height' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,False,False
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,False,False
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,False,False
5,10,2890000.0,30.4,2018-09-10T00:00:00,1,NaN,12.0,14.4,5,NaN,False,False
6,6,3700000.0,37.3,2017-11-02T00:00:00,1,NaN,26.0,10.6,6,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
1,False,11.0,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,False,8.3,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,False,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
5,False,9.1,NaN,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55.0
6,False,14.4,1.0,посёлок Парголово,52996.0,19143.0,0.0,NaN,0.0,NaN,155.0

 Строки датафрейма, где у столбца 'floors_total' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
186,12,11640000.0,65.2,2018-10-02T00:00:00,2,NaN,NaN,30.80,4,NaN,False,False
237,4,2438033.0,28.1,2016-11-23T00:00:00,1,NaN,NaN,20.75,1,NaN,False,False
457,4,9788348.0,70.8,2015-08-01T00:00:00,2,NaN,NaN,38.40,12,NaN,False,False
671,4,6051191.0,93.6,2017-04-06T00:00:00,3,NaN,NaN,47.10,8,NaN,False,False
1757,5,3600000.0,39.0,2017-04-22T00:00:00,1,NaN,NaN,NaN,9,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
186,False,12.00,NaN,Санкт-Петербург,39197.0,12373.0,1.0,123.0,0.0,NaN,49.0
237,False,NaN,0.0,Санкт-Петербург,22041.0,17369.0,0.0,NaN,1.0,374.0,251.0
457,False,10.63,0.0,Санкт-Петербург,37364.0,8322.0,2.0,309.0,2.0,706.0,727.0
671,False,16.80,0.0,Санкт-Петербург,22041.0,17369.0,0.0,NaN,1.0,374.0,123.0
1757,False,NaN,0.0,Санкт-Петербург,22735.0,11618.0,1.0,835.0,1.0,652.0,77.0

 Строки датафрейма, где у столбца 'living_area' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,False,False
7,5,7915000.0,71.6,2019-04-18T00:00:00,2,NaN,24.0,NaN,22,NaN,False,False
30,12,2200000.0,32.8,2018-02-19T00:00:00,1,NaN,9.0,NaN,2,NaN,False,False
37,10,1990000.0,45.8,2017-10-28T00:00:00,2,2.5,5.0,NaN,1,NaN,False,False
44,13,5350000.0,40.0,2018-11-18T00:00:00,1,NaN,22.0,NaN,3,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
3,False,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
7,False,18.9,2.0,Санкт-Петербург,23982.0,11634.0,0.0,NaN,0.0,NaN,NaN
30,False,NaN,NaN,Коммунар,NaN,NaN,NaN,NaN,NaN,NaN,63.0
37,False,NaN,NaN,поселок городского типа Красный Бор,NaN,NaN,NaN,NaN,NaN,NaN,196.0
44,False,NaN,1.0,Санкт-Петербург,30471.0,11603.0,1.0,620.0,1.0,1152.0,NaN

 Строки датафрейма, где у столбца 'is_apartment' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,NaN,False,False
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,False,False
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,False,False
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,False,False
4,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,False,25.0,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,False,11.0,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,False,8.3,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,False,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,False,41.0,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0

 Строки датафрейма, где у столбца 'kitchen_area' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,False,False
30,12,2200000.0,32.8,2018-02-19T00:00:00,1,NaN,9.0,NaN,2,NaN,False,False
37,10,1990000.0,45.8,2017-10-28T00:00:00,2,2.5,5.0,NaN,1,NaN,False,False
44,13,5350000.0,40.0,2018-11-18T00:00:00,1,NaN,22.0,NaN,3,NaN,False,False
59,15,6300000.0,46.5,2017-03-06T00:00:00,1,NaN,13.0,NaN,13,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
3,False,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
30,False,NaN,NaN,Коммунар,NaN,NaN,NaN,NaN,NaN,NaN,63.0
37,False,NaN,NaN,поселок городского типа Красный Бор,NaN,NaN,NaN,NaN,NaN,NaN,196.0
44,False,NaN,1.0,Санкт-Петербург,30471.0,11603.0,1.0,620.0,1.0,1152.0,NaN
59,False,NaN,NaN,Санкт-Петербург,11125.0,14501.0,0.0,NaN,0.0,NaN,336.0

 Строки датафрейма, где у столбца 'balcony' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
0,20,13000000.0,108.00,2019-03-07T00:00:00,3,2.70,16.0,51.00,8,NaN,False,False
4,2,10000000.0,100.00,2018-06-19T00:00:00,2,3.03,14.0,32.00,13,NaN,False,False
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12.0,14.40,5,NaN,False,False
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27.0,15.43,26,NaN,False,False
10,5,5050000.0,39.60,2017-11-16T00:00:00,1,2.67,12.0,20.30,3,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,False,25.00,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
4,False,41.00,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0
5,False,9.10,NaN,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55.0
8,False,8.81,NaN,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189.0
10,False,8.50,NaN,Санкт-Петербург,38357.0,13878.0,1.0,310.0,2.0,553.0,137.0

 Строки датафрейма, где у столбца 'locality_name' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
1097,3,8600000.0,81.7,2016-04-15T00:00:00,3,3.55,5.0,50.8,2,NaN,False,False
2033,6,5398000.0,80.0,2017-05-30T00:00:00,3,NaN,4.0,42.6,2,NaN,False,False
2603,20,3351765.0,42.7,2015-09-20T00:00:00,1,NaN,24.0,15.6,3,NaN,False,False
2632,2,5130593.0,62.4,2015-10-11T00:00:00,2,NaN,24.0,33.1,21,NaN,False,False
3574,10,4200000.0,46.5,2016-05-28T00:00:00,2,NaN,5.0,30.8,5,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
1097,False,8.8,0.0,NaN,23478.0,4258.0,0.0,NaN,0.0,NaN,147.0
2033,False,18.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0
2603,False,10.7,0.0,NaN,22041.0,17369.0,0.0,NaN,1.0,374.0,276.0
2632,False,8.2,0.0,NaN,22041.0,17369.0,0.0,NaN,1.0,374.0,256.0
3574,False,6.5,0.0,NaN,27419.0,8127.0,0.0,NaN,1.0,603.0,45.0

 Строки датафрейма, где у столбца 'airports_nearest' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12.0,14.40,5,NaN,False,False
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27.0,15.43,26,NaN,False,False
12,10,3890000.0,54.00,2016-06-30T00:00:00,2,NaN,5.0,30.00,5,NaN,False,False
22,20,5000000.0,58.00,2017-04-24T00:00:00,2,2.75,25.0,30.00,15,NaN,False,False
30,12,2200000.0,32.80,2018-02-19T00:00:00,1,NaN,9.0,NaN,2,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
5,False,9.10,NaN,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55.0
8,False,8.81,NaN,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189.0
12,False,9.00,0.0,Сертолово,NaN,NaN,NaN,NaN,NaN,NaN,90.0
22,False,11.00,2.0,деревня Кудрово,NaN,NaN,NaN,NaN,NaN,NaN,60.0
30,False,NaN,NaN,Коммунар,NaN,NaN,NaN,NaN,NaN,NaN,63.0

 Строки датафрейма, где у столбца 'cityCenters_nearest' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12.0,14.40,5,NaN,False,False
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27.0,15.43,26,NaN,False,False
12,10,3890000.0,54.00,2016-06-30T00:00:00,2,NaN,5.0,30.00,5,NaN,False,False
22,20,5000000.0,58.00,2017-04-24T00:00:00,2,2.75,25.0,30.00,15,NaN,False,False
30,12,2200000.0,32.80,2018-02-19T00:00:00,1,NaN,9.0,NaN,2,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
5,False,9.10,NaN,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55.0
8,False,8.81,NaN,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189.0
12,False,9.00,0.0,Сертолово,NaN,NaN,NaN,NaN,NaN,NaN,90.0
22,False,11.00,2.0,деревня Кудрово,NaN,NaN,NaN,NaN,NaN,NaN,60.0
30,False,NaN,NaN,Коммунар,NaN,NaN,NaN,NaN,NaN,NaN,63.0

 Строки датафрейма, где у столбца 'parks_around3000' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12.0,14.40,5,NaN,False,False
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27.0,15.43,26,NaN,False,False
12,10,3890000.0,54.00,2016-06-30T00:00:00,2,NaN,5.0,30.00,5,NaN,False,False
22,20,5000000.0,58.00,2017-04-24T00:00:00,2,2.75,25.0,30.00,15,NaN,False,False
30,12,2200000.0,32.80,2018-02-19T00:00:00,1,NaN,9.0,NaN,2,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
5,False,9.10,NaN,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55.0
8,False,8.81,NaN,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189.0
12,False,9.00,0.0,Сертолово,NaN,NaN,NaN,NaN,NaN,NaN,90.0
22,False,11.00,2.0,деревня Кудрово,NaN,NaN,NaN,NaN,NaN,NaN,60.0
30,False,NaN,NaN,Коммунар,NaN,NaN,NaN,NaN,NaN,NaN,63.0

 Строки датафрейма, где у столбца 'parks_nearest' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11.0,18.60,1,NaN,False,False
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12.0,14.40,5,NaN,False,False
6,6,3700000.0,37.30,2017-11-02T00:00:00,1,NaN,26.0,10.60,6,NaN,False,False
7,5,7915000.0,71.60,2019-04-18T00:00:00,2,NaN,24.0,NaN,22,NaN,False,False
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27.0,15.43,26,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
1,False,11.00,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
5,False,9.10,NaN,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55.0
6,False,14.40,1.0,посёлок Парголово,52996.0,19143.0,0.0,NaN,0.0,NaN,155.0
7,False,18.90,2.0,Санкт-Петербург,23982.0,11634.0,0.0,NaN,0.0,NaN,NaN
8,False,8.81,NaN,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189.0

 Строки датафрейма, где у столбца 'ponds_around3000' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12.0,14.40,5,NaN,False,False
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27.0,15.43,26,NaN,False,False
12,10,3890000.0,54.00,2016-06-30T00:00:00,2,NaN,5.0,30.00,5,NaN,False,False
22,20,5000000.0,58.00,2017-04-24T00:00:00,2,2.75,25.0,30.00,15,NaN,False,False
30,12,2200000.0,32.80,2018-02-19T00:00:00,1,NaN,9.0,NaN,2,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
5,False,9.10,NaN,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55.0
8,False,8.81,NaN,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189.0
12,False,9.00,0.0,Сертолово,NaN,NaN,NaN,NaN,NaN,NaN,90.0
22,False,11.00,2.0,деревня Кудрово,NaN,NaN,NaN,NaN,NaN,NaN,60.0
30,False,NaN,NaN,Коммунар,NaN,NaN,NaN,NaN,NaN,NaN,63.0

 Строки датафрейма, где у столбца 'ponds_nearest' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11.0,18.60,1,NaN,False,False
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12.0,14.40,5,NaN,False,False
6,6,3700000.0,37.30,2017-11-02T00:00:00,1,NaN,26.0,10.60,6,NaN,False,False
7,5,7915000.0,71.60,2019-04-18T00:00:00,2,NaN,24.0,NaN,22,NaN,False,False
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27.0,15.43,26,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
1,False,11.00,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
5,False,9.10,NaN,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55.0
6,False,14.40,1.0,посёлок Парголово,52996.0,19143.0,0.0,NaN,0.0,NaN,155.0
7,False,18.90,2.0,Санкт-Петербург,23982.0,11634.0,0.0,NaN,0.0,NaN,NaN
8,False,8.81,NaN,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189.0

 Строки датафрейма, где у столбца 'days_exposition' обнаружены пропущенные значения:

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,NaN,False,False
7,5,7915000.0,71.6,2019-04-18T00:00:00,2,NaN,24.0,NaN,22,NaN,False,False
44,13,5350000.0,40.0,2018-11-18T00:00:00,1,NaN,22.0,NaN,3,NaN,False,False
45,17,5200000.0,50.6,2018-12-02T00:00:00,2,2.65,9.0,30.3,7,NaN,False,False
46,17,6600000.0,52.1,2019-01-31T00:00:00,2,2.60,24.0,29.7,9,NaN,False,False

,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,False,25.0,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
7,False,18.9,2.0,Санкт-Петербург,23982.0,11634.0,0.0,NaN,0.0,NaN,NaN
44,False,NaN,1.0,Санкт-Петербург,30471.0,11603.0,1.0,620.0,1.0,1152.0,NaN
45,False,7.0,NaN,Санкт-Петербург,30011.0,12872.0,0.0,NaN,0.0,NaN,NaN
46,False,8.3,2.0,Санкт-Петербург,15114.0,12702.0,0.0,NaN,0.0,NaN,NaN

<div class="alert alert-info">
<b>Комментарий студента:</b>
<br>
Теперь нужно заполнить пропущенные значения, но, к счастью, среди некоторых данных столбцов есть такие данные, которые можно логически определить чисто из здравого смысла, реже с помощью условий из других значений столбцов.<br>  
<br> Ими относятся: 
    <ul> 'is_apartment' (наличие аппартаментов); </ul>
    <ul> 'balcony' (наличие балконов); </ul>
    <ul> 'locality_name' (название населённого пункта); </ul>
    <ul> 'days_exposition' (длительность размещения объявления (от публикации до снятия)); </ul><br>, а также: 
    <ul> 'floors_total' (количество этажей в доме); </ul> 
    <ul> 'airports_nearest' (расстояние до ближайшего аэропорта в метрах (м)); </ul> 
    <ul> 'parks_nearest' (расстояние до ближайшего парка); </ul>
    <ul> 'ponds_nearest' (расстояние до ближайшего пруда). </ul>          
    
<br>    
    Судя на третьей строчке проектной работы по установлению параметров и проведению предобработки и исследовательского анализа данных с архивными объявлениями о продаже квартир в г. Санкт-Петербург: мы обнаруживаем, что вместо представления данных в столбцах: 'studio' (наличие квартиры-студии) и 'open_plan'. <br>
<br>
     Также данные столбцов 'balcony', 'floors_total', а также 'days_exposition' приведём к типу данных 'int' (насчёт столбца 'days_exposition' - ни один SEO-специалист не будет ослеживать длительность с точностью до минуты, для удобства длительность размещения объявления будет измеряться в целых числах дней).<br>
</div>

In [13]:
data['is_apartment'] = data['is_apartment'].fillna('False')
display(data.head())

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,False,...,25.0,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,False,...,11.0,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,False,...,8.3,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,False,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,False,...,41.0,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0

In [14]:
data['balcony'] = (data['balcony'].fillna(0)).astype('int')
display(data.head())

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,False,...,25.0,0,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,False,...,11.0,2,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,False,...,8.3,0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,False,...,NaN,0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,False,...,41.0,0,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0

In [ ]:
data['locality_name'] = data['locality_name'].fillna('Санкт-Петербург')
#display(data.head())
display(data[1090:1110])

In [15]:
data['locality_name'] = data['locality_name'].fillna('Санкт-Петербург')
display(data.head())

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,False,...,25.0,0,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,False,...,11.0,2,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,False,...,8.3,0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,False,...,NaN,0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,False,...,41.0,0,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0

In [16]:
data_days_exposition_median = data['days_exposition'].median()
data_days_exposition_median

95.0

In [17]:
data['days_exposition'] = (data['days_exposition'].fillna(data_days_exposition_median)).astype('int')
display(data.head())

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,False,...,25.0,0,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,95
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,False,...,11.0,2,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,False,...,8.3,0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,False,...,NaN,0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424
4,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,False,...,41.0,0,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121

In [18]:
data_floors_total_median = data['floors_total'].median()
data_floors_total_median

9.0

In [19]:
data['floors_total'] = (data['floors_total'].fillna(data_floors_total_median)).astype('int')
display(data.head(50))

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.00,2019-03-07T00:00:00,3,2.70,16,51.00,8,False,...,25.00,0,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,95
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11,18.60,1,False,...,11.00,2,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81
2,10,5196000.0,56.00,2015-08-20T00:00:00,2,NaN,5,34.30,4,False,...,8.30,0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558
3,0,64900000.0,159.00,2015-07-24T00:00:00,3,NaN,14,NaN,9,False,...,NaN,0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424
4,2,10000000.0,100.00,2018-06-19T00:00:00,2,3.03,14,32.00,13,False,...,41.00,0,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12,14.40,5,False,...,9.10,0,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55
6,6,3700000.0,37.30,2017-11-02T00:00:00,1,NaN,26,10.60,6,False,...,14.40,1,посёлок Парголово,52996.0,19143.0,0.0,NaN,0.0,NaN,155
7,5,7915000.0,71.60,2019-04-18T00:00:00,2,NaN,24,NaN,22,False,...,18.90,2,Санкт-Петербург,23982.0,11634.0,0.0,NaN,0.0,NaN,95
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27,15.43,26,False,...,8.81,0,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189
9,18,5400000.0,61.00,2017-02-26T00:00:00,3,2.50,9,43.60,7,False,...,6.50,2,Санкт-Петербург,50898.0,15008.0,0.0,NaN,0.0,NaN,289
10,5,5050000.0,39.60,2017-11-16T00:00:00,1,2.67,12,20.30,3,False,...,8.50,0,Санкт-Петербург,38357.0,13878.0,1.0,310.0,2.0,553.0,137
11,9,3300000.0,44.00,2018-08-27T00:00:00,2,NaN,5,31.00,4,False,...,6.00,1,Ломоносов,48252.0,51677.0,0.0,NaN,0.0,NaN,7
12,10,3890000.0,54.00,2016-06-30T00:00:00,2,NaN,5,30.00,5,False,...,9.00,0,Сертолово,NaN,NaN,NaN,NaN,NaN,NaN,90
13,20,3550000.0,42.80,2017-07-01T00:00:00,2,2.56,5,27.00,5,False,...,5.20,1,Петергоф,37868.0,33058.0,1.0,294.0,3.0,298.0,366
14,1,4400000.0,36.00,2016-06-23T00:00:00,1,NaN,6,17.00,1,False,...,8.00,0,Пушкин,20782.0,30759.0,0.0,NaN,1.0,96.0,203
15,16,4650000.0,39.00,2017-11-18T00:00:00,1,NaN,14,20.50,5,False,...,7.60,1,Санкт-Петербург,12900.0,14259.0,1.0,590.0,1.0,296.0,19
16,11,6700000.0,82.00,2017-11-23T00:00:00,3,3.05,5,55.60,1,False,...,9.00,0,Санкт-Петербург,22108.0,10698.0,3.0,420.0,0.0,NaN,397
17,6,4180000.0,36.00,2016-09-09T00:00:00,1,NaN,17,16.50,7,False,...,11.00,1,Санкт-Петербург,33564.0,14616.0,0.0,NaN,1.0,859.0,571
18,8,3250000.0,31.00,2017-01-27T00:00:00,1,2.50,5,19.40,2,False,...,5.60,1,Санкт-Петербург,44060.0,10842.0,1.0,759.0,0.0,NaN,168
19,16,14200000.0,121.00,2019-01-09T00:00:00,3,2.75,16,76.00,8,False,...,12.00,0,Санкт-Петербург,38900.0,12843.0,0.0,NaN,0.0,NaN,97
20,12,6120000.0,80.00,2017-09-28T00:00:00,3,2.70,27,48.00,11,False,...,12.00,2,посёлок Парголово,53134.0,19311.0,0.0,NaN,0.0,NaN,74
21,13,3200000.0,31.60,2018-03-14T00:00:00,1,NaN,5,16.90,2,False,...,5.70,1,Санкт-Петербург,36064.0,9722.0,1.0,248.0,0.0,NaN,310
22,20,5000000.0,58.00,2017-04-24T00:00:00,2,2.75,25,30.00,15,False,...,11.00,2,деревня Кудрово,NaN,NaN,NaN,NaN,NaN,NaN,60
23,11,2950000.0,32.00,2016-10-29T00:00:00,1,2.60,9,17.70,9,False,...,6.10,0,Санкт-Петербург,15414.0,14211.0,2.0,517.0,1.0,190.0,615
24,8,6500000.0,97.20,2015-10-31T00:00:00,2,NaN,3,46.50,1,False,...,19.60,0,Санкт-Петербург,20052.0,2336.0,3.0,411.0,3.0,124.0,265
25,3,6800000.0,76.00,2015-10-01T00:00:00,2,2.75,23,39.00,18,False,...,15.00,2,Санкт-Петербург,34967.0,14640.0,0.0,NaN,1.0,564.0,300
26,6,4050000.0,60.00,2017-04-28T00:00:00,4,NaN,5,43.00,4,False,...,7.00,0,Санкт-Петербург,11580.0,10510.0,0.0,NaN,1.0,95.0,265
27,20,7100000.0,70.00,2017-05-12T00:00:00,3,2.60,17,49.00,11,False,...,9.20,0,Санкт-Петербург,29197.0,11456.0,2.0,452.0,1.0,779.0,151
28,8,4170000.0,44.00,2017-12-13T00:00:00,1,2.90,6,20.80,1,False,...,11.70,1,Пушкин,18557.0,30710.0,0.0,NaN,1.0,118.0,74
29,9,8600000.0,100.00,2016-04-09T00:00:00,3,NaN,19,52.00,15,False,...,11.00,0,Санкт-Петербург,30394.0,11526.0,1.0,532.0,1.0,896.0,125
30,12,2200000.0,32.80,2018-02-19T00:00:00,1,NaN,9,NaN,2,False,...,NaN,0,Коммунар,NaN,NaN,NaN,NaN,NaN,NaN,63
31,8,7200000.0,67.90,2017-10-26T00:00:00,2,2.80,16,38.10,4,False,...,13.40,2,Санкт-Петербург,32888.0,12944.0,0.0,NaN,0.0,NaN,112
32,7,4990000.0,60.00,2016-05-22T00:00:00,3,NaN,5,39.00,4,False,...,6.00,0,Санкт-Петербург,11349.0,12889.0,0.0,NaN,1.0,426.0,224
33,8,4800000.0,73.00,2018-10-15T00:00:00,4,NaN,9,51.60,5,False,...,6.50,0,Колпино,26535.0,32321.0,0.0,NaN,0.0,NaN,92
34,3,3290000.0,33.00,2018-02-04T00:00:00,1,2.55,16,14.00,3,False,...,8.00,0,Санкт-Петербург,13943.0,12739.0,0.0,NaN,0.0,NaN,15
35,6,15500000.0,149.00,2017-06-26T00:00:00,5,NaN,5,104.00,4,False,...,17.00,0,Санкт-Петербург,23670.0,3502.0,0.0,NaN,1.0,779.0,644
36,13,3790000.0,45.00,2017-01-25T00:00:00,2,NaN,9,27.00,9,False,...,6.30,2,Санкт-Петербург,49574.0,16461.0,1.0,459.0,0.0,NaN,139
37,10,1990000.0,45.80,2017-10-28T00:00:00,2,2.50,5,NaN,1,False,...,NaN,0,поселок городского типа Красный Бор,NaN,NaN,NaN,NaN,NaN,NaN,196
38,10,3150000.0,40.00,2018-03-29T00:00:00,1,2.75,18,16.30,9,False,...,11.60,0,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,103
39,15,5200000.0,54.40,2018-11-29T00:00:00,2,2.75,9,29.70,2,False,...,8.80,2,Санкт-Петербург,13413.0,12209.0,0.0,NaN,1.0,1175.0,29
40,9,3590000.0,36.00,2017-03-15T00:00:00,1,2.60,26,15.00,22,False,...,10.00,2,посёлок Парголово,52996.0,19143.0,0.0,NaN,0.0,NaN,430
41,16,7900000.0,74.00,2016-05-04T00:00:00,3,NaN,14,59.00,8,False,...,12.00,5,Санкт-Петербург,37715.0,12612.0,1.0,725.0,1.0,759.0,179
42,13,22000000.0,161.80,2015-07-08T00:00:00,4,2.80,4,80.90,2,False,...,17.60,5,Петергоф,35416.0,30605.0,2.0,47.0,1.0,907.0,987
43,13,9330000.0,48.00,2017-01-10T00:00:00,2,3.00,4,28.00,4,False,...,7.50,0,Санкт-Петербург,15016.0,10822.0,0.0,NaN,1.0,492.0,763
44,13,5350000.0,40.00,2018-11-18T00:00:00,1,NaN,22,NaN,3,False,...,NaN,1,Санкт-Петербург,30471.0,11603.0,1.0,620.0,1.0,1152.0,95
45,17,5200000.0,50.60,2018-12-02T00:00:00,2,2.65,9,30.30,7,False,...,7.00,0,Санкт-Петербург,30011.0,12872.0,0.0,NaN,0.0,NaN,95
46,17,6600000.0,52.10,2019-01-31T00:00:00,2,2.60,24,29.70,9,False,...,8.30,2,Санкт-Петербург,15114.0,12702.0,0.0,NaN,0.0,NaN,95
47,17,3600000.0,56.10,2018-10-18T00:00:00,3,NaN,4,42.50,3,False,...,5.70,1,Гатчина,NaN,NaN,NaN,NaN,NaN,NaN,179
48,10,3600000.0,33.83,2017-10-03T00:00:00,1,NaN,24,15.35,6,False,...,9.50,0,Санкт-Петербург,21460.0,16788.0,0.0,NaN,1.0,170.0,322
49,1,3050000.0,30.80,2018-11-22T00:00:00,1,2.50,9,18.00,7,False,...,6.00,0,Санкт-Петербург,45341.0,16603.0,1.0,675.0,0.0,NaN,95

In [20]:
#data.query("locality_name != 'Санкт-Петербург' ")
#data.query('airports_nearest != airports_nearest')
#data[data['airports_nearest'].isna()]

data_unique = data['locality_name'].unique()
data_unique

array(['Санкт-Петербург', 'посёлок Шушары', 'городской посёлок Янино-1',
       'посёлок Парголово', 'посёлок Мурино', 'Ломоносов', 'Сертолово',
       'Петергоф', 'Пушкин', 'деревня Кудрово', 'Коммунар', 'Колпино',
       'поселок городского типа Красный Бор', 'Гатчина', 'поселок Мурино',
       'деревня Фёдоровское', 'Выборг', 'Кронштадт', 'Кировск',
       'деревня Новое Девяткино', 'посёлок Металлострой',
       'посёлок городского типа Лебяжье',
       'посёлок городского типа Сиверский', 'поселок Молодцово',
       'поселок городского типа Кузьмоловский',
       'садовое товарищество Новая Ропша', 'Павловск',
       'деревня Пикколово', 'Всеволожск', 'Волхов', 'Кингисепп',
       'Приозерск', 'Сестрорецк', 'деревня Куттузи', 'посёлок Аннино',
       'поселок городского типа Ефимовский', 'посёлок Плодовое',
       'деревня Заклинье', 'поселок Торковичи', 'поселок Первомайское',
       'Красное Село', 'посёлок Понтонный', 'Сясьстрой', 'деревня Старая',
       'деревня Лесколово', 'посёлок Новый Свет', 'Сланцы',
       'село Путилово', 'Ивангород', 'Мурино', 'Шлиссельбург',
       'Никольское', 'Зеленогорск', 'Сосновый Бор', 'поселок Новый Свет',
       'деревня Оржицы', 'деревня Кальтино', 'Кудрово',
       'поселок Романовка', 'посёлок Бугры', 'поселок Бугры',
       'поселок городского типа Рощино', 'Кириши', 'Луга', 'Волосово',
       'Отрадное', 'село Павлово', 'поселок Оредеж', 'село Копорье',
       'посёлок городского типа Красный Бор', 'посёлок Молодёжное',
       'Тихвин', 'посёлок Победа', 'деревня Нурма',
       'поселок городского типа Синявино', 'Тосно',
       'посёлок городского типа Кузьмоловский', 'посёлок Стрельна',
       'Бокситогорск', 'посёлок Александровская', 'деревня Лопухинка',
       'Пикалёво', 'поселок Терволово',
       'поселок городского типа Советский', 'Подпорожье',
       'посёлок Петровское', 'посёлок городского типа Токсово',
       'поселок Сельцо', 'посёлок городского типа Вырица',
       'деревня Кипень', 'деревня Келози', 'деревня Вартемяги',
       'посёлок Тельмана', 'поселок Севастьяново',
       'городской поселок Большая Ижора', 'городской посёлок Павлово',
       'деревня Агалатово', 'посёлок Новогорелово',
       'городской посёлок Лесогорский', 'деревня Лаголово',
       'поселок Цвелодубово', 'поселок городского типа Рахья',
       'поселок городского типа Вырица', 'деревня Белогорка',
       'поселок Заводской', 'городской посёлок Новоселье',
       'деревня Большие Колпаны', 'деревня Горбунки', 'деревня Батово',
       'деревня Заневка', 'деревня Иссад', 'Приморск',
       'городской посёлок Фёдоровское', 'деревня Мистолово',
       'Новая Ладога', 'поселок Зимитицы', 'поселок Барышево',
       'деревня Разметелево', 'поселок городского типа имени Свердлова',
       'деревня Пеники', 'поселок Рябово', 'деревня Пудомяги',
       'поселок станции Корнево', 'деревня Низино', 'деревня Бегуницы',
       'посёлок Поляны', 'городской посёлок Мга', 'поселок Елизаветино',
       'посёлок городского типа Кузнечное', 'деревня Колтуши',
       'поселок Запорожское', 'посёлок городского типа Рощино',
       'деревня Гостилицы', 'деревня Малое Карлино',
       'посёлок Мичуринское', 'посёлок городского типа имени Морозова',
       'посёлок Песочный', 'посёлок Сосново', 'деревня Аро',
       'поселок Ильичёво', 'посёлок городского типа Тайцы',
       'деревня Малое Верево', 'деревня Извара', 'поселок станции Вещево',
       'село Паша', 'деревня Калитино',
       'посёлок городского типа Ульяновка', 'деревня Чудской Бор',
       'поселок городского типа Дубровка', 'деревня Мины',
       'поселок Войсковицы', 'посёлок городского типа имени Свердлова',
       'деревня Коркино', 'посёлок Ропша',
       'поселок городского типа Приладожский', 'посёлок Щеглово',
       'посёлок Гаврилово', 'Лодейное Поле', 'деревня Рабитицы',
       'поселок городского типа Никольский', 'деревня Кузьмолово',
       'деревня Малые Колпаны', 'поселок Тельмана',
       'посёлок Петро-Славянка', 'городской посёлок Назия',
       'посёлок Репино', 'посёлок Ильичёво', 'поселок Углово',
       'поселок Старая Малукса', 'садовое товарищество Рахья',
       'поселок Аннино', 'поселок Победа', 'деревня Меньково',
       'деревня Старые Бегуницы', 'посёлок Сапёрный', 'поселок Семрино',
       'поселок Гаврилово', 'поселок Глажево', 'поселок Кобринское',
       'деревня Гарболово', 'деревня Юкки',
       'поселок станции Приветнинское', 'деревня Мануйлово',
       'деревня Пчева', 'поселок Поляны', 'поселок Цвылёво',
       'поселок Мельниково', 'посёлок Пудость', 'посёлок Усть-Луга',
       'Светогорск', 'Любань', 'поселок Селезнёво',
       'поселок городского типа Рябово', 'Каменногорск', 'деревня Кривко',
       'поселок Глебычево', 'деревня Парицы', 'поселок Жилпосёлок',
       'посёлок городского типа Мга', 'городской поселок Янино-1',
       'посёлок Войскорово', 'село Никольское', 'посёлок Терволово',
       'поселок Стеклянный', 'посёлок городского типа Важины',
       'посёлок Мыза-Ивановка', 'село Русско-Высоцкое',
       'поселок городского типа Лебяжье',
       'поселок городского типа Форносово', 'село Старая Ладога',
       'поселок Житково', 'городской посёлок Виллози', 'деревня Лампово',
       'деревня Шпаньково', 'деревня Лаврики', 'посёлок Сумино',
       'посёлок Возрождение', 'деревня Старосиверская',
       'посёлок Кикерино', 'поселок Возрождение',
       'деревня Старое Хинколово', 'посёлок Пригородный',
       'посёлок Торфяное', 'городской посёлок Будогощь',
       'поселок Суходолье', 'поселок Красная Долина', 'деревня Хапо-Ое',
       'поселок городского типа Дружная Горка', 'поселок Лисий Нос',
       'деревня Яльгелево', 'посёлок Стеклянный', 'село Рождествено',
       'деревня Старополье', 'посёлок Левашово', 'деревня Сяськелево',
       'деревня Камышовка',
       'садоводческое некоммерческое товарищество Лесная Поляна',
       'деревня Хязельки', 'поселок Жилгородок',
       'посёлок городского типа Павлово', 'деревня Ялгино',
       'поселок Новый Учхоз', 'городской посёлок Рощино',
       'поселок Гончарово', 'поселок Почап', 'посёлок Сапёрное',
       'посёлок Платформа 69-й километр', 'поселок Каложицы',
       'деревня Фалилеево', 'деревня Пельгора',
       'поселок городского типа Лесогорский', 'деревня Торошковичи',
       'посёлок Белоостров', 'посёлок Алексеевка', 'поселок Серебрянский',
       'поселок Лукаши', 'поселок Петровское', 'деревня Щеглово',
       'поселок Мичуринское', 'деревня Тарасово', 'поселок Кингисеппский',
       'посёлок при железнодорожной станции Вещево', 'поселок Ушаки',
       'деревня Котлы', 'деревня Сижно', 'деревня Торосово',
       'посёлок Форт Красная Горка', 'поселок городского типа Токсово',
       'деревня Новолисино', 'посёлок станции Громово', 'деревня Глинка',
       'посёлок Мельниково', 'поселок городского типа Назия',
       'деревня Старая Пустошь', 'поселок Коммунары', 'поселок Починок',
       'посёлок городского типа Вознесенье', 'деревня Разбегаево',
       'посёлок городского типа Рябово', 'поселок Гладкое',
       'посёлок при железнодорожной станции Приветнинское',
       'поселок Тёсово-4', 'посёлок Жилгородок', 'деревня Бор',
       'посёлок Коробицыно', 'деревня Большая Вруда', 'деревня Курковицы',
       'посёлок Лисий Нос', 'городской посёлок Советский',
       'посёлок Кобралово', 'деревня Суоранда', 'поселок Кобралово',
       'поселок городского типа Кондратьево',
       'коттеджный поселок Счастье', 'поселок Любань', 'деревня Реброво',
       'деревня Зимитицы', 'деревня Тойворово', 'поселок Семиозерье',
       'поселок Лесное', 'поселок Совхозный', 'поселок Усть-Луга',
       'посёлок Ленинское', 'посёлок Суйда',
       'посёлок городского типа Форносово', 'деревня Нижние Осельки',
       'посёлок станции Свирь', 'поселок Перово', 'Высоцк',
       'поселок Гарболово', 'село Шум', 'поселок Котельский',
       'поселок станции Лужайка', 'деревня Большая Пустомержа',
       'поселок Красносельское', 'деревня Вахнова Кара', 'деревня Пижма',
       'коттеджный поселок Кивеннапа Север', 'поселок Коробицыно',
       'поселок Ромашки', 'посёлок Перово', 'деревня Каськово',
       'деревня Куровицы', 'посёлок Плоское', 'поселок Сумино',
       'поселок городского типа Большая Ижора', 'поселок Кирпичное',
       'деревня Ям-Тесово', 'деревня Раздолье', 'деревня Терпилицы',
       'посёлок Шугозеро', 'деревня Ваганово', 'поселок Пушное',
       'садовое товарищество Садко', 'посёлок Усть-Ижора',
       'деревня Выскатка', 'городской посёлок Свирьстрой',
       'поселок Громово', 'деревня Кисельня', 'посёлок Старая Малукса',
       'деревня Трубников Бор', 'поселок Калитино',
       'посёлок Высокоключевой', 'садовое товарищество Приладожский',
       'посёлок Пансионат Зелёный Бор', 'деревня Ненимяки',
       'поселок Пансионат Зелёный Бор', 'деревня Снегирёвка',
       'деревня Рапполово', 'деревня Пустынка', 'поселок Рабитицы',
       'деревня Большой Сабск', 'деревня Русско', 'деревня Лупполово',
       'деревня Большое Рейзино', 'деревня Малая Романовка',
       'поселок Дружноселье', 'поселок Пчевжа', 'поселок Володарское',
       'деревня Нижняя', 'коттеджный посёлок Лесное', 'деревня Тихковицы',
       'деревня Борисова Грива', 'посёлок Дзержинского'], dtype=object)

In [21]:
#data.query("locality_name != 'Санкт-Петербург' ")
#data_unique.to_csv('')
#data['locality_name'].isin('Кузьмоловский')

In [22]:
#if(data[data['parks_around3000'] == 0.0]):

#data_mean.loc[data_mean['total_income'] != data_mean['total_income'], 'total_income'] = data_mean_total_income_mean  
#display(data_mean.head(30))

  
#data['parks_around3000'] = (data['parks_around3000']).astype('int')
#if()
#data['parks_around3000'] = data[data['parks_around3000'] == 0.0]

#data.loc[:, 'parks_around3000'] = (data.loc[:, 'parks_around3000']).astype('int')

In [23]:
data.loc[~(data['parks_around3000'] != data['parks_around3000']), 'parks_nearest'] = (data.loc[:, 'parks_nearest'].fillna(0)).astype('int')

display(data.head(50))

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.00,2019-03-07T00:00:00,3,2.70,16,51.00,8,False,...,25.00,0,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,95
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11,18.60,1,False,...,11.00,2,посёлок Шушары,12817.0,18603.0,0.0,0.0,0.0,NaN,81
2,10,5196000.0,56.00,2015-08-20T00:00:00,2,NaN,5,34.30,4,False,...,8.30,0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558
3,0,64900000.0,159.00,2015-07-24T00:00:00,3,NaN,14,NaN,9,False,...,NaN,0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424
4,2,10000000.0,100.00,2018-06-19T00:00:00,2,3.03,14,32.00,13,False,...,41.00,0,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12,14.40,5,False,...,9.10,0,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55
6,6,3700000.0,37.30,2017-11-02T00:00:00,1,NaN,26,10.60,6,False,...,14.40,1,посёлок Парголово,52996.0,19143.0,0.0,0.0,0.0,NaN,155
7,5,7915000.0,71.60,2019-04-18T00:00:00,2,NaN,24,NaN,22,False,...,18.90,2,Санкт-Петербург,23982.0,11634.0,0.0,0.0,0.0,NaN,95
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27,15.43,26,False,...,8.81,0,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189
9,18,5400000.0,61.00,2017-02-26T00:00:00,3,2.50,9,43.60,7,False,...,6.50,2,Санкт-Петербург,50898.0,15008.0,0.0,0.0,0.0,NaN,289
10,5,5050000.0,39.60,2017-11-16T00:00:00,1,2.67,12,20.30,3,False,...,8.50,0,Санкт-Петербург,38357.0,13878.0,1.0,310.0,2.0,553.0,137
11,9,3300000.0,44.00,2018-08-27T00:00:00,2,NaN,5,31.00,4,False,...,6.00,1,Ломоносов,48252.0,51677.0,0.0,0.0,0.0,NaN,7
12,10,3890000.0,54.00,2016-06-30T00:00:00,2,NaN,5,30.00,5,False,...,9.00,0,Сертолово,NaN,NaN,NaN,NaN,NaN,NaN,90
13,20,3550000.0,42.80,2017-07-01T00:00:00,2,2.56,5,27.00,5,False,...,5.20,1,Петергоф,37868.0,33058.0,1.0,294.0,3.0,298.0,366
14,1,4400000.0,36.00,2016-06-23T00:00:00,1,NaN,6,17.00,1,False,...,8.00,0,Пушкин,20782.0,30759.0,0.0,0.0,1.0,96.0,203
15,16,4650000.0,39.00,2017-11-18T00:00:00,1,NaN,14,20.50,5,False,...,7.60,1,Санкт-Петербург,12900.0,14259.0,1.0,590.0,1.0,296.0,19
16,11,6700000.0,82.00,2017-11-23T00:00:00,3,3.05,5,55.60,1,False,...,9.00,0,Санкт-Петербург,22108.0,10698.0,3.0,420.0,0.0,NaN,397
17,6,4180000.0,36.00,2016-09-09T00:00:00,1,NaN,17,16.50,7,False,...,11.00,1,Санкт-Петербург,33564.0,14616.0,0.0,0.0,1.0,859.0,571
18,8,3250000.0,31.00,2017-01-27T00:00:00,1,2.50,5,19.40,2,False,...,5.60,1,Санкт-Петербург,44060.0,10842.0,1.0,759.0,0.0,NaN,168
19,16,14200000.0,121.00,2019-01-09T00:00:00,3,2.75,16,76.00,8,False,...,12.00,0,Санкт-Петербург,38900.0,12843.0,0.0,0.0,0.0,NaN,97
20,12,6120000.0,80.00,2017-09-28T00:00:00,3,2.70,27,48.00,11,False,...,12.00,2,посёлок Парголово,53134.0,19311.0,0.0,0.0,0.0,NaN,74
21,13,3200000.0,31.60,2018-03-14T00:00:00,1,NaN,5,16.90,2,False,...,5.70,1,Санкт-Петербург,36064.0,9722.0,1.0,248.0,0.0,NaN,310
22,20,5000000.0,58.00,2017-04-24T00:00:00,2,2.75,25,30.00,15,False,...,11.00,2,деревня Кудрово,NaN,NaN,NaN,NaN,NaN,NaN,60
23,11,2950000.0,32.00,2016-10-29T00:00:00,1,2.60,9,17.70,9,False,...,6.10,0,Санкт-Петербург,15414.0,14211.0,2.0,517.0,1.0,190.0,615
24,8,6500000.0,97.20,2015-10-31T00:00:00,2,NaN,3,46.50,1,False,...,19.60,0,Санкт-Петербург,20052.0,2336.0,3.0,411.0,3.0,124.0,265
25,3,6800000.0,76.00,2015-10-01T00:00:00,2,2.75,23,39.00,18,False,...,15.00,2,Санкт-Петербург,34967.0,14640.0,0.0,0.0,1.0,564.0,300
26,6,4050000.0,60.00,2017-04-28T00:00:00,4,NaN,5,43.00,4,False,...,7.00,0,Санкт-Петербург,11580.0,10510.0,0.0,0.0,1.0,95.0,265
27,20,7100000.0,70.00,2017-05-12T00:00:00,3,2.60,17,49.00,11,False,...,9.20,0,Санкт-Петербург,29197.0,11456.0,2.0,452.0,1.0,779.0,151
28,8,4170000.0,44.00,2017-12-13T00:00:00,1,2.90,6,20.80,1,False,...,11.70,1,Пушкин,18557.0,30710.0,0.0,0.0,1.0,118.0,74
29,9,8600000.0,100.00,2016-04-09T00:00:00,3,NaN,19,52.00,15,False,...,11.00,0,Санкт-Петербург,30394.0,11526.0,1.0,532.0,1.0,896.0,125
30,12,2200000.0,32.80,2018-02-19T00:00:00,1,NaN,9,NaN,2,False,...,NaN,0,Коммунар,NaN,NaN,NaN,NaN,NaN,NaN,63
31,8,7200000.0,67.90,2017-10-26T00:00:00,2,2.80,16,38.10,4,False,...,13.40,2,Санкт-Петербург,32888.0,12944.0,0.0,0.0,0.0,NaN,112
32,7,4990000.0,60.00,2016-05-22T00:00:00,3,NaN,5,39.00,4,False,...,6.00,0,Санкт-Петербург,11349.0,12889.0,0.0,0.0,1.0,426.0,224
33,8,4800000.0,73.00,2018-10-15T00:00:00,4,NaN,9,51.60,5,False,...,6.50,0,Колпино,26535.0,32321.0,0.0,0.0,0.0,NaN,92
34,3,3290000.0,33.00,2018-02-04T00:00:00,1,2.55,16,14.00,3,False,...,8.00,0,Санкт-Петербург,13943.0,12739.0,0.0,0.0,0.0,NaN,15
35,6,15500000.0,149.00,2017-06-26T00:00:00,5,NaN,5,104.00,4,False,...,17.00,0,Санкт-Петербург,23670.0,3502.0,0.0,0.0,1.0,779.0,644
36,13,3790000.0,45.00,2017-01-25T00:00:00,2,NaN,9,27.00,9,False,...,6.30,2,Санкт-Петербург,49574.0,16461.0,1.0,459.0,0.0,NaN,139
37,10,1990000.0,45.80,2017-10-28T00:00:00,2,2.50,5,NaN,1,False,...,NaN,0,поселок городского типа Красный Бор,NaN,NaN,NaN,NaN,NaN,NaN,196
38,10,3150000.0,40.00,2018-03-29T00:00:00,1,2.75,18,16.30,9,False,...,11.60,0,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,103
39,15,5200000.0,54.40,2018-11-29T00:00:00,2,2.75,9,29.70,2,False,...,8.80,2,Санкт-Петербург,13413.0,12209.0,0.0,0.0,1.0,1175.0,29
40,9,3590000.0,36.00,2017-03-15T00:00:00,1,2.60,26,15.00,22,False,...,10.00,2,посёлок Парголово,52996.0,19143.0,0.0,0.0,0.0,NaN,430
41,16,7900000.0,74.00,2016-05-04T00:00:00,3,NaN,14,59.00,8,False,...,12.00,5,Санкт-Петербург,37715.0,12612.0,1.0,725.0,1.0,759.0,179
42,13,22000000.0,161.80,2015-07-08T00:00:00,4,2.80,4,80.90,2,False,...,17.60,5,Петергоф,35416.0,30605.0,2.0,47.0,1.0,907.0,987
43,13,9330000.0,48.00,2017-01-10T00:00:00,2,3.00,4,28.00,4,False,...,7.50,0,Санкт-Петербург,15016.0,10822.0,0.0,0.0,1.0,492.0,763
44,13,5350000.0,40.00,2018-11-18T00:00:00,1,NaN,22,NaN,3,False,...,NaN,1,Санкт-Петербург,30471.0,11603.0,1.0,620.0,1.0,1152.0,95
45,17,5200000.0,50.60,2018-12-02T00:00:00,2,2.65,9,30.30,7,False,...,7.00,0,Санкт-Петербург,30011.0,12872.0,0.0,0.0,0.0,NaN,95
46,17,6600000.0,52.10,2019-01-31T00:00:00,2,2.60,24,29.70,9,False,...,8.30,2,Санкт-Петербург,15114.0,12702.0,0.0,0.0,0.0,NaN,95
47,17,3600000.0,56.10,2018-10-18T00:00:00,3,NaN,4,42.50,3,False,...,5.70,1,Гатчина,NaN,NaN,NaN,NaN,NaN,NaN,179
48,10,3600000.0,33.83,2017-10-03T00:00:00,1,NaN,24,15.35,6,False,...,9.50,0,Санкт-Петербург,21460.0,16788.0,0.0,0.0,1.0,170.0,322
49,1,3050000.0,30.80,2018-11-22T00:00:00,1,2.50,9,18.00,7,False,...,6.00,0,Санкт-Петербург,45341.0,16603.0,1.0,675.0,0.0,NaN,95

In [24]:
#(data.query("ponds_around3000 == 0 ")).astype('int')
#data['ponds_around3000'] = (data['ponds_around3000']).astype('int')
#data.loc[:, 'ponds_around3000'] = (data.loc[:, 'ponds_around3000']).astype('int')

In [25]:
data.loc[~(data['ponds_around3000'] != data['ponds_around3000']), 'ponds_nearest'] = (data.loc[:, 'ponds_nearest'].fillna(0.0)).astype('int')

display(data.head(50))

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.00,2019-03-07T00:00:00,3,2.70,16,51.00,8,False,...,25.00,0,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,95
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11,18.60,1,False,...,11.00,2,посёлок Шушары,12817.0,18603.0,0.0,0.0,0.0,0.0,81
2,10,5196000.0,56.00,2015-08-20T00:00:00,2,NaN,5,34.30,4,False,...,8.30,0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558
3,0,64900000.0,159.00,2015-07-24T00:00:00,3,NaN,14,NaN,9,False,...,NaN,0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424
4,2,10000000.0,100.00,2018-06-19T00:00:00,2,3.03,14,32.00,13,False,...,41.00,0,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12,14.40,5,False,...,9.10,0,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55
6,6,3700000.0,37.30,2017-11-02T00:00:00,1,NaN,26,10.60,6,False,...,14.40,1,посёлок Парголово,52996.0,19143.0,0.0,0.0,0.0,0.0,155
7,5,7915000.0,71.60,2019-04-18T00:00:00,2,NaN,24,NaN,22,False,...,18.90,2,Санкт-Петербург,23982.0,11634.0,0.0,0.0,0.0,0.0,95
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27,15.43,26,False,...,8.81,0,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189
9,18,5400000.0,61.00,2017-02-26T00:00:00,3,2.50,9,43.60,7,False,...,6.50,2,Санкт-Петербург,50898.0,15008.0,0.0,0.0,0.0,0.0,289
10,5,5050000.0,39.60,2017-11-16T00:00:00,1,2.67,12,20.30,3,False,...,8.50,0,Санкт-Петербург,38357.0,13878.0,1.0,310.0,2.0,553.0,137
11,9,3300000.0,44.00,2018-08-27T00:00:00,2,NaN,5,31.00,4,False,...,6.00,1,Ломоносов,48252.0,51677.0,0.0,0.0,0.0,0.0,7
12,10,3890000.0,54.00,2016-06-30T00:00:00,2,NaN,5,30.00,5,False,...,9.00,0,Сертолово,NaN,NaN,NaN,NaN,NaN,NaN,90
13,20,3550000.0,42.80,2017-07-01T00:00:00,2,2.56,5,27.00,5,False,...,5.20,1,Петергоф,37868.0,33058.0,1.0,294.0,3.0,298.0,366
14,1,4400000.0,36.00,2016-06-23T00:00:00,1,NaN,6,17.00,1,False,...,8.00,0,Пушкин,20782.0,30759.0,0.0,0.0,1.0,96.0,203
15,16,4650000.0,39.00,2017-11-18T00:00:00,1,NaN,14,20.50,5,False,...,7.60,1,Санкт-Петербург,12900.0,14259.0,1.0,590.0,1.0,296.0,19
16,11,6700000.0,82.00,2017-11-23T00:00:00,3,3.05,5,55.60,1,False,...,9.00,0,Санкт-Петербург,22108.0,10698.0,3.0,420.0,0.0,0.0,397
17,6,4180000.0,36.00,2016-09-09T00:00:00,1,NaN,17,16.50,7,False,...,11.00,1,Санкт-Петербург,33564.0,14616.0,0.0,0.0,1.0,859.0,571
18,8,3250000.0,31.00,2017-01-27T00:00:00,1,2.50,5,19.40,2,False,...,5.60,1,Санкт-Петербург,44060.0,10842.0,1.0,759.0,0.0,0.0,168
19,16,14200000.0,121.00,2019-01-09T00:00:00,3,2.75,16,76.00,8,False,...,12.00,0,Санкт-Петербург,38900.0,12843.0,0.0,0.0,0.0,0.0,97
20,12,6120000.0,80.00,2017-09-28T00:00:00,3,2.70,27,48.00,11,False,...,12.00,2,посёлок Парголово,53134.0,19311.0,0.0,0.0,0.0,0.0,74
21,13,3200000.0,31.60,2018-03-14T00:00:00,1,NaN,5,16.90,2,False,...,5.70,1,Санкт-Петербург,36064.0,9722.0,1.0,248.0,0.0,0.0,310
22,20,5000000.0,58.00,2017-04-24T00:00:00,2,2.75,25,30.00,15,False,...,11.00,2,деревня Кудрово,NaN,NaN,NaN,NaN,NaN,NaN,60
23,11,2950000.0,32.00,2016-10-29T00:00:00,1,2.60,9,17.70,9,False,...,6.10,0,Санкт-Петербург,15414.0,14211.0,2.0,517.0,1.0,190.0,615
24,8,6500000.0,97.20,2015-10-31T00:00:00,2,NaN,3,46.50,1,False,...,19.60,0,Санкт-Петербург,20052.0,2336.0,3.0,411.0,3.0,124.0,265
25,3,6800000.0,76.00,2015-10-01T00:00:00,2,2.75,23,39.00,18,False,...,15.00,2,Санкт-Петербург,34967.0,14640.0,0.0,0.0,1.0,564.0,300
26,6,4050000.0,60.00,2017-04-28T00:00:00,4,NaN,5,43.00,4,False,...,7.00,0,Санкт-Петербург,11580.0,10510.0,0.0,0.0,1.0,95.0,265
27,20,7100000.0,70.00,2017-05-12T00:00:00,3,2.60,17,49.00,11,False,...,9.20,0,Санкт-Петербург,29197.0,11456.0,2.0,452.0,1.0,779.0,151
28,8,4170000.0,44.00,2017-12-13T00:00:00,1,2.90,6,20.80,1,False,...,11.70,1,Пушкин,18557.0,30710.0,0.0,0.0,1.0,118.0,74
29,9,8600000.0,100.00,2016-04-09T00:00:00,3,NaN,19,52.00,15,False,...,11.00,0,Санкт-Петербург,30394.0,11526.0,1.0,532.0,1.0,896.0,125
30,12,2200000.0,32.80,2018-02-19T00:00:00,1,NaN,9,NaN,2,False,...,NaN,0,Коммунар,NaN,NaN,NaN,NaN,NaN,NaN,63
31,8,7200000.0,67.90,2017-10-26T00:00:00,2,2.80,16,38.10,4,False,...,13.40,2,Санкт-Петербург,32888.0,12944.0,0.0,0.0,0.0,0.0,112
32,7,4990000.0,60.00,2016-05-22T00:00:00,3,NaN,5,39.00,4,False,...,6.00,0,Санкт-Петербург,11349.0,12889.0,0.0,0.0,1.0,426.0,224
33,8,4800000.0,73.00,2018-10-15T00:00:00,4,NaN,9,51.60,5,False,...,6.50,0,Колпино,26535.0,32321.0,0.0,0.0,0.0,0.0,92
34,3,3290000.0,33.00,2018-02-04T00:00:00,1,2.55,16,14.00,3,False,...,8.00,0,Санкт-Петербург,13943.0,12739.0,0.0,0.0,0.0,0.0,15
35,6,15500000.0,149.00,2017-06-26T00:00:00,5,NaN,5,104.00,4,False,...,17.00,0,Санкт-Петербург,23670.0,3502.0,0.0,0.0,1.0,779.0,644
36,13,3790000.0,45.00,2017-01-25T00:00:00,2,NaN,9,27.00,9,False,...,6.30,2,Санкт-Петербург,49574.0,16461.0,1.0,459.0,0.0,0.0,139
37,10,1990000.0,45.80,2017-10-28T00:00:00,2,2.50,5,NaN,1,False,...,NaN,0,поселок городского типа Красный Бор,NaN,NaN,NaN,NaN,NaN,NaN,196
38,10,3150000.0,40.00,2018-03-29T00:00:00,1,2.75,18,16.30,9,False,...,11.60,0,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,103
39,15,5200000.0,54.40,2018-11-29T00:00:00,2,2.75,9,29.70,2,False,...,8.80,2,Санкт-Петербург,13413.0,12209.0,0.0,0.0,1.0,1175.0,29
40,9,3590000.0,36.00,2017-03-15T00:00:00,1,2.60,26,15.00,22,False,...,10.00,2,посёлок Парголово,52996.0,19143.0,0.0,0.0,0.0,0.0,430
41,16,7900000.0,74.00,2016-05-04T00:00:00,3,NaN,14,59.00,8,False,...,12.00,5,Санкт-Петербург,37715.0,12612.0,1.0,725.0,1.0,759.0,179
42,13,22000000.0,161.80,2015-07-08T00:00:00,4,2.80,4,80.90,2,False,...,17.60,5,Петергоф,35416.0,30605.0,2.0,47.0,1.0,907.0,987
43,13,9330000.0,48.00,2017-01-10T00:00:00,2,3.00,4,28.00,4,False,...,7.50,0,Санкт-Петербург,15016.0,10822.0,0.0,0.0,1.0,492.0,763
44,13,5350000.0,40.00,2018-11-18T00:00:00,1,NaN,22,NaN,3,False,...,NaN,1,Санкт-Петербург,30471.0,11603.0,1.0,620.0,1.0,1152.0,95
45,17,5200000.0,50.60,2018-12-02T00:00:00,2,2.65,9,30.30,7,False,...,7.00,0,Санкт-Петербург,30011.0,12872.0,0.0,0.0,0.0,0.0,95
46,17,6600000.0,52.10,2019-01-31T00:00:00,2,2.60,24,29.70,9,False,...,8.30,2,Санкт-Петербург,15114.0,12702.0,0.0,0.0,0.0,0.0,95
47,17,3600000.0,56.10,2018-10-18T00:00:00,3,NaN,4,42.50,3,False,...,5.70,1,Гатчина,NaN,NaN,NaN,NaN,NaN,NaN,179
48,10,3600000.0,33.83,2017-10-03T00:00:00,1,NaN,24,15.35,6,False,...,9.50,0,Санкт-Петербург,21460.0,16788.0,0.0,0.0,1.0,170.0,322
49,1,3050000.0,30.80,2018-11-22T00:00:00,1,2.50,9,18.00,7,False,...,6.00,0,Санкт-Петербург,45341.0,16603.0,1.0,675.0,0.0,0.0,95

In [26]:
#for i in range(1, len(data['locality_name'].unique())):
#    print(data['locality_name'].unique()[i])

for value in data['locality_name'].unique():
    print(value)

Санкт-Петербург
посёлок Шушары
городской посёлок Янино-1
посёлок Парголово
посёлок Мурино
Ломоносов
Сертолово
Петергоф
Пушкин
деревня Кудрово
Коммунар
Колпино
поселок городского типа Красный Бор
Гатчина
поселок Мурино
деревня Фёдоровское
Выборг
Кронштадт
Кировск
деревня Новое Девяткино
посёлок Металлострой
посёлок городского типа Лебяжье
посёлок городского типа Сиверский
поселок Молодцово
поселок городского типа Кузьмоловский
садовое товарищество Новая Ропша
Павловск
деревня Пикколово
Всеволожск
Волхов
Кингисепп
Приозерск
Сестрорецк
деревня Куттузи
посёлок Аннино
поселок городского типа Ефимовский
посёлок Плодовое
деревня Заклинье
поселок Торковичи
поселок Первомайское
Красное Село
посёлок Понтонный
Сясьстрой
деревня Старая
деревня Лесколово
посёлок Новый Свет
Сланцы
село Путилово
Ивангород
Мурино
Шлиссельбург
Никольское
Зеленогорск
Сосновый Бор
поселок Новый Свет
деревня Оржицы
деревня Кальтино
Кудрово
поселок Романовка
посёлок Бугры
поселок Бугры
поселок городского типа Рощино
Кириши
Луга
Волосово
Отрадное
село Павлово
поселок Оредеж
село Копорье
посёлок городского типа Красный Бор
посёлок Молодёжное
Тихвин
посёлок Победа
деревня Нурма
поселок городского типа Синявино
Тосно
посёлок городского типа Кузьмоловский
посёлок Стрельна
Бокситогорск
посёлок Александровская
деревня Лопухинка
Пикалёво
поселок Терволово
поселок городского типа Советский
Подпорожье
посёлок Петровское
посёлок городского типа Токсово
поселок Сельцо
посёлок городского типа Вырица
деревня Кипень
деревня Келози
деревня Вартемяги
посёлок Тельмана
поселок Севастьяново
городской поселок Большая Ижора
городской посёлок Павлово
деревня Агалатово
посёлок Новогорелово
городской посёлок Лесогорский
деревня Лаголово
поселок Цвелодубово
поселок городского типа Рахья
поселок городского типа Вырица
деревня Белогорка
поселок Заводской
городской посёлок Новоселье
деревня Большие Колпаны
деревня Горбунки
деревня Батово
деревня Заневка
деревня Иссад
Приморск
городской посёлок Фёдоровское
деревня Мистолово
Новая Ладога
поселок Зимитицы
поселок Барышево
деревня Разметелево
поселок городского типа имени Свердлова
деревня Пеники
поселок Рябово
деревня Пудомяги
поселок станции Корнево
деревня Низино
деревня Бегуницы
посёлок Поляны
городской посёлок Мга
поселок Елизаветино
посёлок городского типа Кузнечное
деревня Колтуши
поселок Запорожское
посёлок городского типа Рощино
деревня Гостилицы
деревня Малое Карлино
посёлок Мичуринское
посёлок городского типа имени Морозова
посёлок Песочный
посёлок Сосново
деревня Аро
поселок Ильичёво
посёлок городского типа Тайцы
деревня Малое Верево
деревня Извара
поселок станции Вещево
село Паша
деревня Калитино
посёлок городского типа Ульяновка
деревня Чудской Бор
поселок городского типа Дубровка
деревня Мины
поселок Войсковицы
посёлок городского типа имени Свердлова
деревня Коркино
посёлок Ропша
поселок городского типа Приладожский
посёлок Щеглово
посёлок Гаврилово
Лодейное Поле
деревня Рабитицы
поселок городского типа Никольский
деревня Кузьмолово
деревня Малые Колпаны
поселок Тельмана
посёлок Петро-Славянка
городской посёлок Назия
посёлок Репино
посёлок Ильичёво
поселок Углово
поселок Старая Малукса
садовое товарищество Рахья
поселок Аннино
поселок Победа
деревня Меньково
деревня Старые Бегуницы
посёлок Сапёрный
поселок Семрино
поселок Гаврилово
поселок Глажево
поселок Кобринское
деревня Гарболово
деревня Юкки
поселок станции Приветнинское
деревня Мануйлово
деревня Пчева
поселок Поляны
поселок Цвылёво
поселок Мельниково
посёлок Пудость
посёлок Усть-Луга
Светогорск
Любань
поселок Селезнёво
поселок городского типа Рябово
Каменногорск
деревня Кривко
поселок Глебычево
деревня Парицы
поселок Жилпосёлок
посёлок городского типа Мга
городской поселок Янино-1
посёлок Войскорово
село Никольское
посёлок Терволово
поселок Стеклянный
посёлок городского типа Важины
посёлок Мыза-Ивановка
село Русско-Высоцкое
поселок городского типа Лебяжье
поселок городского типа Форносово
село Старая Ладога
поселок Житково
городской посёлок Виллози
деревня Лампово
деревня Шпаньково
деревня Лаврики
посёлок Сумино
посёлок Возрождение
деревня Старосиверская
посёлок Кикерино
поселок Возрождение
деревня Старое Хинколово
посёлок Пригородный
посёлок Торфяное
городской посёлок Будогощь
поселок Суходолье
поселок Красная Долина
деревня Хапо-Ое
поселок городского типа Дружная Горка
поселок Лисий Нос
деревня Яльгелево
посёлок Стеклянный
село Рождествено
деревня Старополье
посёлок Левашово
деревня Сяськелево
деревня Камышовка
садоводческое некоммерческое товарищество Лесная Поляна
деревня Хязельки
поселок Жилгородок
посёлок городского типа Павлово
деревня Ялгино
поселок Новый Учхоз
городской посёлок Рощино
поселок Гончарово
поселок Почап
посёлок Сапёрное
посёлок Платформа 69-й километр
поселок Каложицы
деревня Фалилеево
деревня Пельгора
поселок городского типа Лесогорский
деревня Торошковичи
посёлок Белоостров
посёлок Алексеевка
поселок Серебрянский
поселок Лукаши
поселок Петровское
деревня Щеглово
поселок Мичуринское
деревня Тарасово
поселок Кингисеппский
посёлок при железнодорожной станции Вещево
поселок Ушаки
деревня Котлы
деревня Сижно
деревня Торосово
посёлок Форт Красная Горка
поселок городского типа Токсово
деревня Новолисино
посёлок станции Громово
деревня Глинка
посёлок Мельниково
поселок городского типа Назия
деревня Старая Пустошь
поселок Коммунары
поселок Починок
посёлок городского типа Вознесенье
деревня Разбегаево
посёлок городского типа Рябово
поселок Гладкое
посёлок при железнодорожной станции Приветнинское
поселок Тёсово-4
посёлок Жилгородок
деревня Бор
посёлок Коробицыно
деревня Большая Вруда
деревня Курковицы
посёлок Лисий Нос
городской посёлок Советский
посёлок Кобралово
деревня Суоранда
поселок Кобралово
поселок городского типа Кондратьево
коттеджный поселок Счастье
поселок Любань
деревня Реброво
деревня Зимитицы
деревня Тойворово
поселок Семиозерье
поселок Лесное
поселок Совхозный
поселок Усть-Луга
посёлок Ленинское
посёлок Суйда
посёлок городского типа Форносово
деревня Нижние Осельки
посёлок станции Свирь
поселок Перово
Высоцк
поселок Гарболово
село Шум
поселок Котельский
поселок станции Лужайка
деревня Большая Пустомержа
поселок Красносельское
деревня Вахнова Кара
деревня Пижма
коттеджный поселок Кивеннапа Север
поселок Коробицыно
поселок Ромашки
посёлок Перово
деревня Каськово
деревня Куровицы
посёлок Плоское
поселок Сумино
поселок городского типа Большая Ижора
поселок Кирпичное
деревня Ям-Тесово
деревня Раздолье
деревня Терпилицы
посёлок Шугозеро
деревня Ваганово
поселок Пушное
садовое товарищество Садко
посёлок Усть-Ижора
деревня Выскатка
городской посёлок Свирьстрой
поселок Громово
деревня Кисельня
посёлок Старая Малукса
деревня Трубников Бор
поселок Калитино
посёлок Высокоключевой
садовое товарищество Приладожский
посёлок Пансионат Зелёный Бор
деревня Ненимяки
поселок Пансионат Зелёный Бор
деревня Снегирёвка
деревня Рапполово
деревня Пустынка
поселок Рабитицы
деревня Большой Сабск
деревня Русско
деревня Лупполово
деревня Большое Рейзино
деревня Малая Романовка
поселок Дружноселье
поселок Пчевжа
поселок Володарское
деревня Нижняя
коттеджный посёлок Лесное
деревня Тихковицы
деревня Борисова Грива
посёлок Дзержинского

In [27]:
'''cities = []
for value in data['locality_name'].unique():
    if(('городской посёлок' in value) | ('поселок' in value) | ('посёлок городского типа' in value) | 
       ('садовое товарищество' in value) | ('деревня Агалатово' in value) | ('деревня Чудской Бор' in value) | 
       ('посёлок Петро-Славянка' in value) | ('деревня Старое Хинколово' in value) | ('садоводческое некоммерческое товарищество' in value) | 
       ('посёлок Платформа 69-й километр' in value) | ('посёлок Кикерино' in value) | ('садоводческое некоммерческое товарищество Лесная Поляна' in value) |
       ('деревня Хязельки' in value) | ('посёлок Кикерино' in value)):
        continue
    else:
        print(value)
        cities.append(value)'''

"cities = []\nfor value in data['locality_name'].unique():\n    if(('городской посёлок' in value) | ('поселок' in value) | ('посёлок городского типа' in value) | \n       ('садовое товарищество' in value) | ('деревня Агалатово' in value) | ('деревня Чудской Бор' in value) | \n       ('посёлок Петро-Славянка' in value) | ('деревня Старое Хинколово' in value) | ('садоводческое некоммерческое товарищество' in value) | \n       ('посёлок Платформа 69-й километр' in value) | ('посёлок Кикерино' in value) | ('садоводческое некоммерческое товарищество Лесная Поляна' in value) |\n       ('деревня Хязельки' in value) | ('посёлок Кикерино' in value)):\n        continue\n    else:\n        print(value)\n        cities.append(value)"

In [28]:
'''airport_Pulkovo = (app.geocode('аэропорт Пулково').raw['lat'], app.geocode('аэропорт Пулково').raw['lon'])

for value in cities:
    point = (app.geocode(value).raw['lat'], app.geocode(value).raw['lon'])
    print(f'Рассстояние между двумя пунктами аэропорт Пулково и {value}: ', round(gd(airport_Pulkovo, point).m, 1))'''

"airport_Pulkovo = (app.geocode('аэропорт Пулково').raw['lat'], app.geocode('аэропорт Пулково').raw['lon'])\n\nfor value in cities:\n    point = (app.geocode(value).raw['lat'], app.geocode(value).raw['lon'])\n    print(f'Рассстояние между двумя пунктами аэропорт Пулково и {value}: ', round(gd(airport_Pulkovo, point).m, 1))"

In [29]:
cities = []
for value in data['locality_name'].unique():
    print(value)
    cities.append(value)

Санкт-Петербург
посёлок Шушары
городской посёлок Янино-1
посёлок Парголово
посёлок Мурино
Ломоносов
Сертолово
Петергоф
Пушкин
деревня Кудрово
Коммунар
Колпино
поселок городского типа Красный Бор
Гатчина
поселок Мурино
деревня Фёдоровское
Выборг
Кронштадт
Кировск
деревня Новое Девяткино
посёлок Металлострой
посёлок городского типа Лебяжье
посёлок городского типа Сиверский
поселок Молодцово
поселок городского типа Кузьмоловский
садовое товарищество Новая Ропша
Павловск
деревня Пикколово
Всеволожск
Волхов
Кингисепп
Приозерск
Сестрорецк
деревня Куттузи
посёлок Аннино
поселок городского типа Ефимовский
посёлок Плодовое
деревня Заклинье
поселок Торковичи
поселок Первомайское
Красное Село
посёлок Понтонный
Сясьстрой
деревня Старая
деревня Лесколово
посёлок Новый Свет
Сланцы
село Путилово
Ивангород
Мурино
Шлиссельбург
Никольское
Зеленогорск
Сосновый Бор
поселок Новый Свет
деревня Оржицы
деревня Кальтино
Кудрово
поселок Романовка
посёлок Бугры
поселок Бугры
поселок городского типа Рощино
Кириши
Луга
Волосово
Отрадное
село Павлово
поселок Оредеж
село Копорье
посёлок городского типа Красный Бор
посёлок Молодёжное
Тихвин
посёлок Победа
деревня Нурма
поселок городского типа Синявино
Тосно
посёлок городского типа Кузьмоловский
посёлок Стрельна
Бокситогорск
посёлок Александровская
деревня Лопухинка
Пикалёво
поселок Терволово
поселок городского типа Советский
Подпорожье
посёлок Петровское
посёлок городского типа Токсово
поселок Сельцо
посёлок городского типа Вырица
деревня Кипень
деревня Келози
деревня Вартемяги
посёлок Тельмана
поселок Севастьяново
городской поселок Большая Ижора
городской посёлок Павлово
деревня Агалатово
посёлок Новогорелово
городской посёлок Лесогорский
деревня Лаголово
поселок Цвелодубово
поселок городского типа Рахья
поселок городского типа Вырица
деревня Белогорка
поселок Заводской
городской посёлок Новоселье
деревня Большие Колпаны
деревня Горбунки
деревня Батово
деревня Заневка
деревня Иссад
Приморск
городской посёлок Фёдоровское
деревня Мистолово
Новая Ладога
поселок Зимитицы
поселок Барышево
деревня Разметелево
поселок городского типа имени Свердлова
деревня Пеники
поселок Рябово
деревня Пудомяги
поселок станции Корнево
деревня Низино
деревня Бегуницы
посёлок Поляны
городской посёлок Мга
поселок Елизаветино
посёлок городского типа Кузнечное
деревня Колтуши
поселок Запорожское
посёлок городского типа Рощино
деревня Гостилицы
деревня Малое Карлино
посёлок Мичуринское
посёлок городского типа имени Морозова
посёлок Песочный
посёлок Сосново
деревня Аро
поселок Ильичёво
посёлок городского типа Тайцы
деревня Малое Верево
деревня Извара
поселок станции Вещево
село Паша
деревня Калитино
посёлок городского типа Ульяновка
деревня Чудской Бор
поселок городского типа Дубровка
деревня Мины
поселок Войсковицы
посёлок городского типа имени Свердлова
деревня Коркино
посёлок Ропша
поселок городского типа Приладожский
посёлок Щеглово
посёлок Гаврилово
Лодейное Поле
деревня Рабитицы
поселок городского типа Никольский
деревня Кузьмолово
деревня Малые Колпаны
поселок Тельмана
посёлок Петро-Славянка
городской посёлок Назия
посёлок Репино
посёлок Ильичёво
поселок Углово
поселок Старая Малукса
садовое товарищество Рахья
поселок Аннино
поселок Победа
деревня Меньково
деревня Старые Бегуницы
посёлок Сапёрный
поселок Семрино
поселок Гаврилово
поселок Глажево
поселок Кобринское
деревня Гарболово
деревня Юкки
поселок станции Приветнинское
деревня Мануйлово
деревня Пчева
поселок Поляны
поселок Цвылёво
поселок Мельниково
посёлок Пудость
посёлок Усть-Луга
Светогорск
Любань
поселок Селезнёво
поселок городского типа Рябово
Каменногорск
деревня Кривко
поселок Глебычево
деревня Парицы
поселок Жилпосёлок
посёлок городского типа Мга
городской поселок Янино-1
посёлок Войскорово
село Никольское
посёлок Терволово
поселок Стеклянный
посёлок городского типа Важины
посёлок Мыза-Ивановка
село Русско-Высоцкое
поселок городского типа Лебяжье
поселок городского типа Форносово
село Старая Ладога
поселок Житково
городской посёлок Виллози
деревня Лампово
деревня Шпаньково
деревня Лаврики
посёлок Сумино
посёлок Возрождение
деревня Старосиверская
посёлок Кикерино
поселок Возрождение
деревня Старое Хинколово
посёлок Пригородный
посёлок Торфяное
городской посёлок Будогощь
поселок Суходолье
поселок Красная Долина
деревня Хапо-Ое
поселок городского типа Дружная Горка
поселок Лисий Нос
деревня Яльгелево
посёлок Стеклянный
село Рождествено
деревня Старополье
посёлок Левашово
деревня Сяськелево
деревня Камышовка
садоводческое некоммерческое товарищество Лесная Поляна
деревня Хязельки
поселок Жилгородок
посёлок городского типа Павлово
деревня Ялгино
поселок Новый Учхоз
городской посёлок Рощино
поселок Гончарово
поселок Почап
посёлок Сапёрное
посёлок Платформа 69-й километр
поселок Каложицы
деревня Фалилеево
деревня Пельгора
поселок городского типа Лесогорский
деревня Торошковичи
посёлок Белоостров
посёлок Алексеевка
поселок Серебрянский
поселок Лукаши
поселок Петровское
деревня Щеглово
поселок Мичуринское
деревня Тарасово
поселок Кингисеппский
посёлок при железнодорожной станции Вещево
поселок Ушаки
деревня Котлы
деревня Сижно
деревня Торосово
посёлок Форт Красная Горка
поселок городского типа Токсово
деревня Новолисино
посёлок станции Громово
деревня Глинка
посёлок Мельниково
поселок городского типа Назия
деревня Старая Пустошь
поселок Коммунары
поселок Починок
посёлок городского типа Вознесенье
деревня Разбегаево
посёлок городского типа Рябово
поселок Гладкое
посёлок при железнодорожной станции Приветнинское
поселок Тёсово-4
посёлок Жилгородок
деревня Бор
посёлок Коробицыно
деревня Большая Вруда
деревня Курковицы
посёлок Лисий Нос
городской посёлок Советский
посёлок Кобралово
деревня Суоранда
поселок Кобралово
поселок городского типа Кондратьево
коттеджный поселок Счастье
поселок Любань
деревня Реброво
деревня Зимитицы
деревня Тойворово
поселок Семиозерье
поселок Лесное
поселок Совхозный
поселок Усть-Луга
посёлок Ленинское
посёлок Суйда
посёлок городского типа Форносово
деревня Нижние Осельки
посёлок станции Свирь
поселок Перово
Высоцк
поселок Гарболово
село Шум
поселок Котельский
поселок станции Лужайка
деревня Большая Пустомержа
поселок Красносельское
деревня Вахнова Кара
деревня Пижма
коттеджный поселок Кивеннапа Север
поселок Коробицыно
поселок Ромашки
посёлок Перово
деревня Каськово
деревня Куровицы
посёлок Плоское
поселок Сумино
поселок городского типа Большая Ижора
поселок Кирпичное
деревня Ям-Тесово
деревня Раздолье
деревня Терпилицы
посёлок Шугозеро
деревня Ваганово
поселок Пушное
садовое товарищество Садко
посёлок Усть-Ижора
деревня Выскатка
городской посёлок Свирьстрой
поселок Громово
деревня Кисельня
посёлок Старая Малукса
деревня Трубников Бор
поселок Калитино
посёлок Высокоключевой
садовое товарищество Приладожский
посёлок Пансионат Зелёный Бор
деревня Ненимяки
поселок Пансионат Зелёный Бор
деревня Снегирёвка
деревня Рапполово
деревня Пустынка
поселок Рабитицы
деревня Большой Сабск
деревня Русско
деревня Лупполово
деревня Большое Рейзино
деревня Малая Романовка
поселок Дружноселье
поселок Пчевжа
поселок Володарское
деревня Нижняя
коттеджный посёлок Лесное
деревня Тихковицы
деревня Борисова Грива
посёлок Дзержинского

In [ ]:
unknown_points = []
app = nm(user_agent="tutorial")
airport_Pulkovo = (app.geocode('аэропорт Пулково').raw['lat'], app.geocode('аэропорт Пулково').raw['lon'])

for value in cities:
    try:
        point = (app.geocode(value).raw['lat'], app.geocode(value).raw['lon'])
        print(f'Расстояние между двумя пунктами: аэропорт Пулково и {value} -', round(gd(airport_Pulkovo, point).m, 1), 'метров')
    except:
        print(f'Населённый пункт {value} не найден!')
        unknown_points.append(value)

Расстояние между двумя пунктами: аэропорт Пулково и Санкт-Петербург - 14407.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Шушары - 6650.2 метров
Населённый пункт городской посёлок Янино-1 не найден!
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Парголово - 30672.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Мурино - 4433098.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и Ломоносов - 30081.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и Сертолово - 38249.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и Петергоф - 21843.3 метров
Расстояние между двумя пунктами: аэропорт Пулково и Пушкин - 12150.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Кудрово - 20491.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и Коммунар - 21186.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и Колпино - 19833.4 метров
Населённый пункт поселок городского типа Красный Бор не найден!
Расстояние между двумя пунктами: аэропорт Пулково и Гатчина - 26876.2 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Мурино - 4433098.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Фёдоровское - 559974.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и Выборг - 131674.5 метров
Расстояние между двумя пунктами: аэропорт Пулково и Кронштадт - 34719.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и Кировск - 41219.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Новое Девяткино - 32139.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Металлострой - 16953.9 метров
Населённый пункт посёлок городского типа Лебяжье не найден!
Населённый пункт посёлок городского типа Сиверский не найден!
Населённый пункт поселок Молодцово не найден!
Населённый пункт поселок городского типа Кузьмоловский не найден!
Населённый пункт садовое товарищество Новая Ропша не найден!
Расстояние между двумя пунктами: аэропорт Пулково и Павловск - 16007.3 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Пикколово - 16332.1 метров
Расстояние между двумя пунктами: аэропорт Пулково и Всеволожск - 32583.7 метров
Расстояние между двумя пунктами: аэропорт Пулково и Волхов - 116265.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и Кингисепп - 105639.5 метров
Расстояние между двумя пунктами: аэропорт Пулково и Приозерск - 138030.9 метров
Расстояние между двумя пунктами: аэропорт Пулково и Сестрорецк - 37235.7 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Куттузи - 12585.5 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Аннино - 494185.3 метров
Населённый пункт поселок городского типа Ефимовский не найден!
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Плодовое - 752005.1 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Заклинье - 121592.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Торковичи - 107328.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Первомайское - 5053422.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и Красное Село - 12696.9 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Понтонный - 20236.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и Сясьстрой - 133645.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Старая - 615663.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Лесколово - 53513.9 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Новый Свет - 650956.9 метров
Расстояние между двумя пунктами: аэропорт Пулково и Сланцы - 145265.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и село Путилово - 618712.5 метров
Расстояние между двумя пунктами: аэропорт Пулково и Ивангород - 125117.5 метров
Расстояние между двумя пунктами: аэропорт Пулково и Мурино - 29007.1 метров
Расстояние между двумя пунктами: аэропорт Пулково и Шлиссельбург - 45612.5 метров
Расстояние между двумя пунктами: аэропорт Пулково и Никольское - 31134.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и Зеленогорск - 54021.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и Сосновый Бор - 67603.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Новый Свет - 650956.9 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Оржицы - 31678.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Кальтино - 29682.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и Кудрово - 18161.3 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Романовка - 728779.2 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Бугры - 306837.3 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Бугры - 306837.3 метров
Населённый пункт поселок городского типа Рощино не найден!
Расстояние между двумя пунктами: аэропорт Пулково и Кириши - 105853.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и Луга - 121143.9 метров
Расстояние между двумя пунктами: аэропорт Пулково и Волосово - 59141.2 метров
Расстояние между двумя пунктами: аэропорт Пулково и Отрадное - 617594.5 метров
Расстояние между двумя пунктами: аэропорт Пулково и село Павлово - 731297.2 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Оредеж - 108940.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и село Копорье - 69573.6 метров
Населённый пункт посёлок городского типа Красный Бор не найден!
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Молодёжное - 60290.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и Тихвин - 185042.1 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Победа - 729228.9 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Нурма - 1076770.7 метров
Населённый пункт поселок городского типа Синявино не найден!
Расстояние между двумя пунктами: аэропорт Пулково и Тосно - 44971.3 метров
Населённый пункт посёлок городского типа Кузьмоловский не найден!
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Стрельна - 3227166.9 метров
Расстояние между двумя пунктами: аэропорт Пулково и Бокситогорск - 205292.3 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Александровская - 321814.9 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Лопухинка - 49169.3 метров
Расстояние между двумя пунктами: аэропорт Пулково и Пикалёво - 222717.3 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Терволово - 25590.7 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок городского типа Советский - 487569.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и Подпорожье - 248098.2 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Петровское - 30669.0 метров
Населённый пункт посёлок городского типа Токсово не найден!
Расстояние между двумя пунктами: аэропорт Пулково и поселок Сельцо - 157915.2 метров
Населённый пункт посёлок городского типа Вырица не найден!
Расстояние между двумя пунктами: аэропорт Пулково и деревня Кипень - 27535.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Келози - 28923.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Вартемяги - 41749.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Тельмана - 1369550.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Севастьяново - 501517.7 метров
Населённый пункт городской поселок Большая Ижора не найден!
Расстояние между двумя пунктами: аэропорт Пулково и городской посёлок Павлово - 751567.9 метров
Населённый пункт деревня Агалатово не найден!
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Новогорелово - 5925.0 метров
Населённый пункт городской посёлок Лесогорский не найден!
Расстояние между двумя пунктами: аэропорт Пулково и деревня Лаголово - 17555.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Цвелодубово - 78510.1 метров
Населённый пункт поселок городского типа Рахья не найден!
Населённый пункт поселок городского типа Вырица не найден!
Расстояние между двумя пунктами: аэропорт Пулково и деревня Белогорка - 51033.7 метров

Расстояние между двумя пунктами: аэропорт Пулково и поселок Заводской - 659857.3 метров
Расстояние между двумя пунктами: аэропорт Пулково и городской посёлок Новоселье - 920401.7 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Большие Колпаны - 32790.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Горбунки - 15785.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Батово - 57665.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Заневка - 20491.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Иссад - 119913.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и Приморск - 111374.5 метров
Расстояние между двумя пунктами: аэропорт Пулково и городской посёлок Фёдоровское - 614993.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Мистолово - 37278.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и Новая Ладога - 119280.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Зимитицы - 69956.9 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Барышево - 863151.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Разметелево - 25623.5 метров
Населённый пункт поселок городского типа имени Свердлова не найден!
Расстояние между двумя пунктами: аэропорт Пулково и деревня Пеники - 37354.1 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Рябово - 416819.3 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Пудомяги - 22539.1 метров
Населённый пункт поселок станции Корнево не найден!
Расстояние между двумя пунктами: аэропорт Пулково и деревня Низино - 22196.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Бегуницы - 59359.2 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Поляны - 641282.8 метров
Населённый пункт городской посёлок Мга не найден!
Расстояние между двумя пунктами: аэропорт Пулково и поселок Елизаветино - 44539.0 метров
Населённый пункт посёлок городского типа Кузнечное не найден!
Расстояние между двумя пунктами: аэропорт Пулково и деревня Колтуши - 26474.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Запорожское - 88110.3 метров
Населённый пункт посёлок городского типа Рощино не найден!
Расстояние между двумя пунктами: аэропорт Пулково и деревня Гостилицы - 36759.2 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Малое Карлино - 8627.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Мичуринское - 758562.5 метров
Населённый пункт посёлок городского типа имени Морозова не найден!
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Песочный - 35510.2 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Сосново - 1050827.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Аро - 6026690.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Ильичёво - 765537.4 метров
Населённый пункт посёлок городского типа Тайцы не найден!
Расстояние между двумя пунктами: аэропорт Пулково и деревня Малое Верево - 21606.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Извара - 65421.4 метров
Населённый пункт поселок станции Вещево не найден!
Расстояние между двумя пунктами: аэропорт Пулково и село Паша - 165973.3 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Калитино - 55904.7 метров
Населённый пункт посёлок городского типа Ульяновка не найден!
Населённый пункт деревня Чудской Бор не найден!
Населённый пункт поселок городского типа Дубровка не найден!
Расстояние между двумя пунктами: аэропорт Пулково и деревня Мины - 42761.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Войсковицы - 35214.2 метров
Населённый пункт посёлок городского типа имени Свердлова не найден!
Расстояние между двумя пунктами: аэропорт Пулково и деревня Коркино - 1931788.2 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Ропша - 24243.7 метров
Населённый пункт поселок городского типа Приладожский не найден!
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Щеглово - 37113.5 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Гаврилово - 473889.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и Лодейное Поле - 209033.7 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Рабитицы - 66689.3 метров
Населённый пункт поселок городского типа Никольский не найден!
Расстояние между двумя пунктами: аэропорт Пулково и деревня Кузьмолово - 38894.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Малые Колпаны - 30885.7 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Тельмана - 1369550.0 метров
Населённый пункт посёлок Петро-Славянка не найден!
Населённый пункт городской посёлок Назия не найден!
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Репино - 46280.2 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Ильичёво - 765537.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Углово - 39787.3 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Старая Малукса - 66626.7 метров
Населённый пункт садовое товарищество Рахья не найден!
Расстояние между двумя пунктами: аэропорт Пулково и поселок Аннино - 494185.3 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Победа - 729228.9 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Меньково - 44690.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Старые Бегуницы - 59359.2 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Сапёрный - 23919.7 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Семрино - 25998.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Гаврилово - 473889.6 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Глажево - 105002.9 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Кобринское - 43019.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Гарболово - 61649.7 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Юкки - 34590.0 метров
Населённый пункт поселок станции Приветнинское не найден!
Расстояние между двумя пунктами: аэропорт Пулково и деревня Мануйлово - 531256.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Пчева - 106901.0 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Поляны - 641282.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Цвылёво - 166714.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Мельниково - 558524.5 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Пудость - 24175.3 метров
Расстояние между двумя пунктами: аэропорт Пулково и посёлок Усть-Луга - 109560.8 метров
Расстояние между двумя пунктами: аэропорт Пулково и Светогорск - 164927.9 метров
Расстояние между двумя пунктами: аэропорт Пулково и Любань - 3780555.4 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Селезнёво - 4133086.1 метров
Населённый пункт поселок городского типа Рябово не найден!
Расстояние между двумя пунктами: аэропорт Пулково и Каменногорск - 142751.5 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Кривко - 87136.5 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Глебычево - 113592.7 метров
Расстояние между двумя пунктами: аэропорт Пулково и деревня Парицы - 32356.2 метров
Расстояние между двумя пунктами: аэропорт Пулково и поселок Жилпосёлок - 1472218.3 метров
Населённый пункт посёлок городского типа Мга не найден!
Населённый пункт городской поселок Янино-1 не найден!

In [ ]:
city_point
#display(data.head(10))
for item in city_point:
    data.loc[(data['airports_nearest'] != data['airports_nearest']) & (data['locality_name'] == item[0]), 'airports_nearest'] = item[1] 
    #data.loc[data['airports_nearest'] != data['airports_nearest'], 'airports_nearest'] = item[1] 
display(data.head(10))

'floors_total' (количество этажей в доме);
'airports_nearest' (расстояние до ближайшего аэропорта в метрах (м));
'parks_nearest' (расстояние до ближайшего парка);
'ponds_nearest'

### 0.2 Шаг 2.2 Приведение столбцов к нужным типам данных.

### 0.3 Шаг 3.1 Подсчёт данных и добавление в новые столбцы.

### 0.4 Шаг 4.1 Проведите исследовательский анализ данных.

## 1 Общий вывод: